[2012-11-21 23:50] eads opened #1 "Sketch out demo UI"

[2012-11-21 23:51] eads opened #2 "Add all fields to model"
Add all fields from a page like http://www2.cookcountysheriff.org/search2/details.asp?jailnumber=2012-1121092 to the `InmateRecord` model.

[2012-11-21 23:54] eads opened #3 "Scrape all fields from inmate pages and assign to inmate record"
This is in `countyapi/management/commands/scrape_inmates.py` around line 90. You'll want to process and map specific columns to each InmateRecord field.

[2012-11-21 23:54] eads opened #4 "Use get_or_create the right way in scraper"

[2012-11-21 23:57] eads opened #5 "Create fabfile"
Fairly low priority at the moment -- you should really just look into what fabric is and what it does. We need something, eventually, that can at the least bootstrap the database.

[2012-11-21 23:57] eads opened #6 "Write tests"
I need to brush up on writing Django tests.

[2012-11-22 00:00] eads opened #7 "Calculate discharge time"
When processing, we'll probably want to compare the jail_ids that are harvested with jail_ids of people in the database without a discharge date. That should give us all the inmates who fell out of the system since that last time we ran the scraper. We can then assign an inferred discharge date to their record.

[2012-11-22 00:01] eads opened #8 "Sketch out basic API"

[2012-11-29 04:48] eads opened #9 "Drop lastname, firstname fields"

[2012-11-29 05:02] eads opened #10 ""Poll" mode for inmate scraper"
The current scraper process assumes a long, full-blown search of all inmates at once-a-day intervals. But because of the possibility of short-term prison stays, we need some faster, less bandwidth intensive ways of scraping.

I suspect a mix of two techniques could help:

1) Polling regularly for new inmates using the last known jail id #. Right now, that's http://www2.cookcountysheriff.org/search

[2012-11-29 05:56] #4 closed, assigned to eads

[2012-11-29 05:56] #1 closed, assigned to eads

[2012-11-29 05:56] #9 closed, assigned to eads

[2012-11-30 01:51] fgregg commented on #8
@eads, we may want to move this to the wiki

_Population
Number of inmates in the jail on a given date
*_ Possible to segment by charge
*\* Possible to segment by housing location
*\* Segmented by bond
- Residence of current population
  How long the incarcerated population on a given date had been in jail

*\* By day
*\* By charge
(Maybe by housing location?)
- Inflow/Outflow
  For a given date h

[2012-11-30 01:53] fgregg commented on #10
I'm not sure if we need a temporal resolution of less than a day. The key thing is to gather information of people who bail out within a few hours.

[2012-11-30 01:58] fgregg commented on #7
Alternatively, we could use the booking data as the beginning date. Everytime we revisit a page, we can increment a 'last seen' field. If the last field field is the day before yesterday, we can take it as the discharge date.

[2012-12-02 17:39] eads commented on #8
This is great. I'll add something about binning by different time buckets (low priority until data is built up).

[2012-12-02 17:39] eads commented on #8
Oh yah: https://github.com/sc3/cookcountyjail/wiki/API-specification

[2012-12-02 17:46] eads commented on #10
+1. A resolution on the order of a day seems right for this: I don't think we can rely on the a record appearing and disappearing to accurately reflect the length of stay on the order of minutes or even hours.

Depending on our polling strategy, we may want to poll today and yesterday's inmates, though, to capture the inmate that is booked at 10pm and gets out at 2am.

[2012-12-02 17:51] eads commented on #7
I think we're on the same page: I was assuming we would calculate a "booking day" based on the jail_id, along with a seen time.

The tricky bit is the revisiting a page: The page won't exist if the inmate was discharged, which is why I think we need to query for jail ids not present in a full scrape that also don't have a discharge date. If I've got it right, that set defines the group of inmates

[2012-12-03 02:35] eads opened #11 "Research other data sources"

[2012-12-03 02:36] eads opened #12 "Get Cook County Jail floorplan"

[2012-12-03 02:44] eads opened #13 "Run full scrape daily on Heroku"

[2012-12-03 03:03] eads opened #14 "Set up server (EBS?)"
I'm leaning towards Elastic Beanstalk on this, which supports Django + MySQL.

[2012-12-05 04:53] eads commented on #14
I got frustrated after days of dealing with Elastic Beanstalk and had this crap up in a little more than an hour on Heroku: http://vast-retreat-3472.herokuapp.com/ui/

[2012-12-05 04:53] #14 closed, assigned to nobody

[2012-12-05 04:55] eads commented on #13
As we're using Heroku, this probably means celery.

[2012-12-05 14:00] fgregg commented on #14
woot!

[2012-12-05 15:22] eads commented on #14
One note: you will need to switch back to postgres. But it is totally worth
it -- heroku is amazing.
On Dec 5, 2012 8:00 AM, "Forest Gregg" notifications@github.com wrote:

[2012-12-06 01:47] #2 closed, assigned to Davy-jones-Giant-squid

[2012-12-06 15:15] fgregg commented on #2
Awesome!

Couple of thoughts.

First, we may want to coarsen up some data we are storing.

Instead of storing the DOB, let's store the inmate's age at the booking date.

Also, I don't see a use case right now for keeping weight and height. If we want to store them anyway, let's round them to nearest three inches and ten pounds respectively.

This helps maintain the anonymity of the data.

Second,

[2012-12-06 16:42] fgregg opened #16 "Calculate BOOKING_AGE from Date of Birth and Booking date in Scraper"
We want to store the person's age not the date of birth, which means we need to calculate the age from DOB in in scraper.

The right way to do this is to

1.) Subtract the DOB year from the BOOKING year. This gives BOOKING_AGE
2.) Check to see if the DOB day and month is after BOOKING day and month. If it is after, decrement BOOKING_AGE by one.

[2012-12-07 19:13] jimglover commented on #8
Could we also include some ethnic data:  race and sex of inmate?

[2012-12-08 00:53] fgregg commented on #8
Sounds good to me. Will you edit the wiki page?

[2012-12-08 18:42] jimglover commented on #8
Sure.  I think we should add race and gender possible segmentation to Population, InFlow/OutFlow, and Length of  Stay searches.  What do you think?

[2012-12-08 22:21] jimglover commented on #8
How about this?: https://github.com/sc3/cookcountyjail/wiki/API-specification

[2012-12-10 18:46] fgregg commented on #8
Looks good to me.

Do we want to do anything more with bail? It might be nice to see how money is flowing through this system too.

[2012-12-10 18:58] jimglover commented on #8
Yeah, I'd like to see what the bail is for given charges and how charges vary.  Is there high bail for minor charges and how does that bail compare to major charges?  How many people even make bail?  How many get out on I-Bond?  ...Something to that affect.

[2012-12-10 19:04] eads commented on #8
I don't think, with the current data, we'll be able to know if people make
bail. The bail / charges disparity would be do-able, and fascinating.

[2012-12-10 19:14] jimglover commented on #8
Exactly, that's the affect I was looking for.  People are bound to wonder if there's any social justice to criminal justice at 26th and California.

[2012-12-10 19:17] fgregg commented on #8
How about this https://github.com/sc3/cookcountyjail/wiki/API-specification

On Mon, Dec 10, 2012 at 1:14 PM, selfmaster notifications@github.comwrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2012-12-10 19:21] ryandasher commented on #8
You have to consider that we don't know an inmate's prior conviction history or the judge who is setting the bail, which probably have an impact on the amount of bail being set.

It's unfortunate, as I'd be interested in analyzing specific judges' bail amounts.

[2012-12-11 06:17] eads commented on #7
I have added a functional version of this to the app in https://github.com/sc3/cookcountyjail/commit/af3ae4a7828be34bba27a47ccffd289613870249 but it still needs some finesse -- it only works with full scraping runs.

[2012-12-13 04:12] eads opened #17 "Determine and account for values that were causing next court date to throw errors in scraper"

[2012-12-13 04:12] eads opened #18 "Add court date history model, relate it to inmate model"

[2012-12-13 04:25] #16 closed, assigned to nobody

[2012-12-13 04:28] eads opened #19 "Let's research Tastypie"
@Davy-jones-Giant-squid @ryandasher @codersquid @wilbertomorales @gloverjimmie -- please take a gander at http://tastypieapi.org/ and http://django-tastypie.readthedocs.org/en/latest/

[2012-12-13 19:00] jimglover commented on #19
Should we install?

[2012-12-13 19:04] jimglover commented on #12
What medium do we want this floor plan to be in?

[2012-12-13 19:08] jimglover commented on #11
...to fill those fields specified at the cook county board meeting - i.e. detailing court info for timeline of inmates stay.

[2012-12-13 19:24] jimglover commented on #10
To be efficient we should poll often.  Polling for new inmates every few minutes by jail id is the most accurate way to stay efficient.  We want our information to be up-to-the-minute and up-to-date as possible.   We'll have a clearer picture of what's going on because as soon as something happens, we'll be notified.

[2012-12-13 19:28] jimglover commented on #8
Nice. Forest.

[2012-12-13 19:35] jacobroufa commented on #19
What about https://github.com/itemshoppe/delicious-cake/ ??

Just curious. I'm not a Python guy (yet) but this is an alternative to TastyPie, developed by someone who has used it and other RESTful Django plugins.

[2012-12-13 19:41] fgregg commented on #8
How do we want to handle support requests for disaggregated data?

Do we want to return a csv that gives all the info for inmates who entered
the system with a given period?

On Thu, Dec 13, 2012 at 1:28 PM, selfmaster notifications@github.comwrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2012-12-13 22:28] wilbertom commented on #18
Hey eads this issue seems like I might be able to help with. Can you give me more details on it?

[2012-12-13 23:21] eads commented on #18
Lol I already got this. Check out models.py to see how it works.

[2012-12-14 05:32] eads opened #20 "Add parameter to filter by booking date to scraper functions."
To make scraping quicker, we need to filter for inmate records with booking date greater than some parameter, and also calculate discharge dates against the same set of records.

The `handle`, `process_urls`, and `calculate_discharge_date` methods in scrape_inmates.py will need to get this parameter. `handle` needs to get it from the command line arguments, and then pass it as a function parameter

[2012-12-22 15:47] eads commented on #3
Whoops, this was closed last week.

[2012-12-22 15:47] #3 closed, assigned to Davy-jones-Giant-squid

[2012-12-22 15:58] #18 closed, assigned to eads

[2012-12-22 16:02] #7 closed, assigned to Davy-jones-Giant-squid

[2012-12-22 16:04] eads opened #21 "Booking date is incorrectly being assigned to what is apparently "now""

[2012-12-22 16:20] eads opened #22 "Set up new repo for user interface, clean up this repo"
The plan for the January class should be to remove UI stuff from this repository and move it to another project, probably called "fullhouse", which will be ridiculously simple: A static HTML template that anyone with git can clone and work on. Here's a general layout to start from:
- `index.html`: Load the javascript, build up the app
- `js/`
  - `js/config.js`: Global configuration variables: URL

[2012-12-22 16:28] jimglover commented on #22
I'm up for this.  Let's start building some character for this app.  It's going to become more real once we can point and click around with it.  I definitely want to take a shot at this ticket.

[2012-12-22 16:31] eads commented on #19
@jacobroufa My colleague Joe is somewhat opposed to TastyPie and Django Piston (which I used back at Fermi for a while) for the same reasons as Monsieur Delicious Cake.

@everyone ... I think TastyPie is going to handle our needs really well. For this project, the samey-ness, simplicity, and polish of TastyPie should do us nicely. What we really need to deliver to the UI at the moment are lists of

[2012-12-22 16:31] #19 closed, assigned to nobody

[2012-12-22 16:31] eads opened #23 "Implement TastyPie"

[2012-12-22 16:36] eads commented on #22
Go for it. You should have privs to create new repo (call it 'fullhouse')
in the sc3 account. You can go ahead and follow the github directions for
creating and cloning. Then add the dirs and files I sketched out using
`mkdir` and `touch` and push it up. Then we can tackle some substantive
tickets related to building out the bones of this piece.

On Sat, Dec 22, 2012 at 10:28 AM, Jimmie Glover not

[2012-12-22 16:46] eads commented on #22
Once this is created, I can write up some tix for you.

[2012-12-22 16:50] eads opened #24 "Generate summaries of all distinct places"
Should be as simple as querying API for CourtLocations.

[2012-12-22 17:05] eads opened #25 "Integrate South?"
I kind of hate south. But we probably need it because we're scraping data.

[2012-12-22 19:45] eads opened #26 "Look into cross-correlating with other datasets"
@bepetersn:

datasets to looks into: fugitive, prison, crime incidents, judges, geodata

[2012-12-22 19:58] eads opened #27 "Pick a license for code (and also data?)"

[2012-12-22 21:19] wilbertom commented on #20
Hey David should I implement this as a option for handle or as argument?

[2012-12-22 21:39] #21 closed, assigned to nobody

[2012-12-23 10:19] jimglover commented on #25
What is south?

[2012-12-23 15:10] eads commented on #25
It's a library that helps django manage database changes.
On Dec 23, 2012 4:19 AM, "Jimmie Glover" notifications@github.com wrote:

[2012-12-23 15:11] jimglover commented on #25
What's the address?

[2012-12-23 15:14] eads commented on #25
http://south.aeracode.org/

Coordinate with sabine, this is hers!

[2012-12-23 15:17] jimglover commented on #25
gotcha...

[2012-12-29 20:29] #8 closed, assigned to eads

[2012-12-29 20:29] #11 closed, assigned to nobody

[2012-12-29 20:31] #22 closed, assigned to nobody

[2012-12-29 20:32] #23 closed, assigned to nobody

[2012-12-29 20:41] eads opened #28 "Cover relationships to court location with tastypie"

[2012-12-29 22:01] #27 closed, assigned to nobody

[2012-12-30 18:07] fgregg commented on #24
For the purposes of getting more info about the locations, here's a summary count for the top 100 distinct places. http://bunkum.us/top_locations.csv

There are some 5,400 distinct locations. We should figure out how to parse the location info.  I can send a link to the list to Andy.

[2012-12-30 18:15] fgregg commented on #3
The court date and court location info are not being scraped.

[2012-12-30 22:47] eads commented on #24
Sorry, I meant court locations. This is now available though: http://fullhouse.recoveredfactory.net/api/1.0/courtlocation/?format=json&limit=0

[2012-12-30 22:47] #24 closed, assigned to nobody

[2012-12-30 23:00] eads commented on #20
This is basically irrelevant now that you're working on a polling mode and we refactored the scraper code, so I'm closing it.

[2012-12-30 23:00] #20 closed, assigned to wilbertom

[2012-12-30 23:08] eads commented on #3
You probably just need to reset your db:

`python manage.py sqlreset countyapi | python manage.py dbshell`

Eventually, we'll do migrations with south. But for local dev destroying your db and starting over is the way to go.

[2012-12-30 23:15] eads opened #30 "Court date parsing is borked"
@wilbertomorales and I made a little mistake in our refactoring.

[2012-12-30 23:24] #30 closed, assigned to eads

[2012-12-31 04:05] fgregg opened #31 "Too many locations"
There's something funny going on with the locations.

I'm getting things like
    | 683 | Maywood
    Criminal Courts Building, Room:306
    2650 South California Avenue Room: 306
    Chicago, IL 60608
     |

where the location_id 683 does NOT appear in the countyapi_courtdates table.
Right now about 280 distinct locations appear in the countyapi_courtdate table and
there are about 720 locations

[2012-12-31 16:13] #31 closed, assigned to nobody

[2013-01-03 14:12] fgregg opened #35 "When an inmate record is update, the last_seen field should be set to current datetime"
Last_seen is only set when an inmate record is created. Maybe we want to keep this info, but it should be called first_seen.

[2013-01-03 14:40] #35 closed, assigned to nobody

[2013-01-03 14:41] fgregg commented on #35
It does do this. Sorry for the confusion, I'm trying to track down some cron strangenesses.

[2013-01-03 19:47] wilbertom commented on #10
Hey guys, some things we should consider as issues. First doing research on how often cook county updates their database. Currently the poll_mode will search while (booking_date < today) and not (booking_date <= today) because the database seems to be behind by a day. And lastly we should consider separating the process_urls into two parts, one function for iterating through the urls and another f

[2013-01-03 19:54] wilbertom commented on #17
Some inmates have a empty next court date field. ex: http://www2.cookcountysheriff.org/search2/details.asp?jailnumber=2012-0928093

[2013-01-04 05:27] #13 closed, assigned to nobody

[2013-01-04 05:37] #28 closed, assigned to ryandasher

[2013-01-05 21:18] wilbertom opened #36 "Charges fields are being saved empty"

[2013-01-05 21:50] wilbertom opened #37 "Refactor process_urls"
Separate the process_urls and the field parsing.

[2013-01-05 22:02] wilbertom opened #38 "Fix calculate_age fuction"
It is sometimes calculating the wrong age

[2013-01-05 22:08] wilbertom opened #39 "Look into csv output"

[2013-01-05 22:23] #5 closed, assigned to nobody

[2013-01-06 07:31] wilbertom opened #40 "Add Discharge date for poll_mode"

[2013-01-06 22:02] eads commented on #39
Check out http://django-tastypie.readthedocs.org/en/v0.9.11/serialization.html#implementing-your-own-serializer -- there's an example of a CSV serializer that should be fairly robust. This is currently a fairly high priority ticket -- @Davy-jones-Giant-squid, can you get to this in the next few days? If not, I'll swap this ticket for one with @wilbertomorales.

[2013-01-07 11:53] wilbertom opened #41 "Update poll_mode to new create_update_inmate function"

[2013-01-11 20:31] #25 closed, assigned to Davy-jones-Giant-squid

[2013-01-11 20:38] Davy-jones-Giant-squid commented on #39
Do you want me to add a csv serializer in the countyapi's models.py?

[2013-01-11 20:57] eads commented on #39
You should put it in api.py I think, but yes, that's the plan!

On Fri, Jan 11, 2013 at 2:38 PM, Davy-jones-Giant-squid <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful thing about life is this: everyone has their reasons.” --

[2013-01-12 11:35] #40 closed, assigned to wilbertom

[2013-01-12 22:31] #39 closed, assigned to Davy-jones-Giant-squid

[2013-01-13 00:11] #37 closed, assigned to wilbertom

[2013-01-13 00:11] #38 closed, assigned to wilbertom

[2013-01-13 00:11] #41 closed, assigned to wilbertom

[2013-01-18 17:16] #10 closed, assigned to codersquid

[2013-01-18 19:59] wilbertom commented on #12
![Screen Shot 2013-01-18 at 1 58 32 PM](https://f.cloud.github.com/assets/2273055/79293/88e7c5f8-61a9-11e2-962f-b4cffec9e615.png)

The only thing I could find online

[2013-01-18 20:02] fgregg commented on #12
What about the city's building footprint file.

-Forest

On Fri, Jan 18, 2013 at 1:59 PM, Wilberto Morales
notifications@github.comwrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2013-01-18 20:21] wilbertom commented on #12
Not sure about that stuff. However these post might help in getting an idea
of the different areas
http://www.cookcountysheriff.org/doc/doc_DivisionsOfJail.html

On Fri, Jan 18, 2013 at 2:02 PM, Forest Gregg notifications@github.comwrote:

[2013-01-18 20:55] fgregg opened #42 "Parsing the location fields"
We need to understand the location code in order to figure out whether a person is in jail, on electronic monitoring, awol, or otherwise disposed.

We might also want to do further parsing so that we could figure out which building and tier an inmate is in. This could be very nice for visualization purposes, but could also lead to insights about the internal operations of the jail.

These document

[2013-01-18 21:43] fgregg commented on #42
We may also learn some things by looking at the visitation pages: http://www.cookcountysheriff.org/googlemap/map_docdivision2.html

[2013-01-18 22:12] eads commented on #42
That looks incredibly promising.

On Fri, Jan 18, 2013 at 3:43 PM, Forest Gregg notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful thing about life is this: everyone has their reasons.” -- Jean
Renoir

[2013-01-18 22:36] fgregg commented on #42
Division I locations start with 01-*

http://www.cookcountysheriff.com/googlemap/map_docdivision1.html

Division II locations begin with 02 followed by a building ID, i.e. 02-D1-*
is a dorm that is in the D1 building of Division II

Locations in the division II auxillary building start with 03-AX

http://www.cookcountysheriff.com/googlemap/map_docdivision2.html

Locations starting with 03-A-1, 03-

[2013-01-19 22:51] wilbertom opened #43 "Fix Court Dates"

[2013-01-19 22:54] #43 closed, assigned to nobody

[2013-01-19 23:31] fgregg commented on #17
Can this issue be closed?

[2013-01-19 23:37] fgregg opened #44 "CSV output for courtdates"
Through the API, should be able to request a csv of just courtdates. This should be in the form
of

jail_id, date, court_date_id, location_id

[2013-01-20 00:44] eads commented on #17
Nope! We keep pushing it to the back burner.
On Jan 19, 2013 5:31 PM, "Forest Gregg" notifications@github.com wrote:

[2013-01-20 04:26] fgregg commented on #17
What would resolve this issue? Understanding why some inmates don't have a next court date?

[2013-01-20 06:14] eads commented on #17
It's actually just some kind of parsing error covered over by an overly
liberal try/except block. Which is why it keeps getting pushed back, and
may not even be a thing anymore. I'll investigate and update or close the
ticket.

On Sat, Jan 19, 2013 at 10:26 PM, Forest Gregg notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chica

[2013-01-20 18:47] #44 closed, assigned to nobody

[2013-01-20 19:17] eads opened #45 "Add court date API documentation"
Who wants this? The interface works the same as locations and inmates, see http://cookcountyjail.recoveredfactory.net/api/1.0/courtdate/?format=json and http://cookcountyjail.recoveredfactory.net/api/1.0/courtdate/?format=json&related=1

[2013-01-20 19:20] eads opened #46 "Add caching"
See https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers

[2013-01-22 21:20] ryandasher commented on #17
I'd still like to look at this, so long as we can wait for a possible solution until Saturday (just assuming I'll need help).

But I'll try to take a look before our next meet.

[2013-01-22 21:36] eads commented on #17
This is pesky, but there's no rush. I think saturday will be great.

On Tue, Jan 22, 2013 at 3:20 PM, ryandasher notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful thing about life is this: everyone has their reasons.” -- Jean
Renoir

[2013-01-26 18:54] ryandasher commented on #17
Getting started on this, aww yah.

[2013-01-30 13:32] ryandasher commented on #17
Just to update: Shared my thoughts with David on what I believe is wrong with the try/except block, so lately I've been trying to polish up that snippet of code.

[2013-02-02 21:48] #17 closed, assigned to ryandasher

[2013-02-02 21:49] eads commented on #46
I don't see your cooooode (:

[2013-02-02 23:09] Davy-jones-Giant-squid commented on #46
Sorry, I thought I did, but I've just realized by code is not finished yet. Will push asap

[2013-02-03 04:30] eads commented on #46
No problem! Take your time (:
On Feb 2, 2013 5:09 PM, "Davy-jones-Giant-squid" notifications@github.com
wrote:

[2013-02-03 21:01] eads commented on #46
No problem! Take your time (:
On Feb 2, 2013 5:09 PM, "Davy-jones-Giant-squid" notifications@github.com
wrote:

Sorry, I thought I did, but I've just realized by code is not finished yet.
Will push asap

—
Reply to this email directly or view it on
GitHubhttps://github.com/sc3/cookcountyjail/issues/46#issuecomment-13039046.

[2013-02-09 20:37] jacobroufa opened #47 "Housing Location discrepancy"
Looking at the API's JSON output and comparing it to the search page, every piece of data is correct except housing_location. @wilbertomorales and I wrote a single inmate scraper to pull one inmates data and compare it to the JSON output, and the data is scraped correctly.

So... this happens somewhere between the database and output. Anyone have any idea?

[2013-02-09 20:39] fgregg commented on #47
Can you give an example urls?

On Sat, Feb 9, 2013 at 2:37 PM, Jake Roufa notifications@github.com wrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2013-02-09 20:43] jacobroufa commented on #47
http://www2.cookcountysheriff.org/search2/details.asp?jailnumber=2013-0208208

^^ this is the inmate that we've looked at as an example. The data seems to be alright in my local database. I'm going to look at the live DB here in a second, with @eads' help.

[2013-02-09 20:55] jacobroufa commented on #47
Ok... So we looked at the live database and the data was incorrect there. Re-scraped the above-mentioned inmate and the housing_location changed/updated to reflect the current data. I don't think we actually have a bug here, but have just discovered that the sheriff updates their data at some point.

We should check anything that we know is different now, to see that it's changed tomorrow. If the

[2013-02-09 20:55] eads opened #48 "Add housing location history to data model"

[2013-02-09 21:05] jacobroufa commented on #48
See #48 for information on discovery. Basically, the sheriff changes housing_location at an unknown interval, and we need to start tracking this.

[2013-03-02 22:34] #47 closed, assigned to nobody

[2013-03-03 16:16] wilbertom commented on #42
The first draft for the housing location parsing is pushed. It needs a lot of review. Some areas are:
1. Improving the Algorithm to be shorter and better
2. Making sure all information is being saved right and there is no data loss
3. Thinking about a better models so that more metadata can be extracted from the housing locations
4. Researching and narrowing to when exactly we can say an inmate is

[2013-03-09 20:16] wilbertom opened #49 "Parse Court Locations"
It might be a good idea to start parsing the court locations with more detail. The objects currently look like this:
{
      "id": "1",
      "location": "Criminal C\nCriminal Courts Building, Room:506\n2650 South California Avenue Room: 506\nChicago, IL 60608\n"
    },
If we break up the different segments in the models it will provide a better API. For example a model with:

location_name = Crim

[2013-03-09 20:19] wilbertom opened #50 "Add housing_history to API"
Add full housing_history functionality to the API. Have the reverse relationships with the housing_locations displayed like court_dates.

[2013-03-16 20:19] eads commented on #48
@wilbertom fixed this!

[2013-03-16 20:19] #48 closed, assigned to nobody

[2013-03-16 20:20] eads opened #51 "Create south schema migration for new housing location models"

[2013-03-16 20:21] eads opened #52 "Create south data migration for new housing location model"

[2013-03-16 20:22] #51 closed, assigned to nobody

[2013-03-16 20:28] eads opened #53 "Associate court locations with judges and extended location metadata"

[2013-03-16 20:48] #46 closed, assigned to Davy-jones-Giant-squid

[2013-03-16 21:17] ghing opened #54 "Court Date endpoint should be filterable by date"
## To replicate
1. Open http://cookcountyjail.recoveredfactory.net/api/1.0/courtdate/?format=json&date=2012-03-17
## Expected Result

Retrieve a list of court date objects filter to only show the ones for March 17, 2012
## Observed Result

An error message that reads `The 'date' field does not allow filtering.`

[2013-03-16 21:57] ghing commented on #45
@MiseryPanda and I started writing these docs at https://github.com/sc3/cookcountyjail/wiki/API-guide-%28Start-here!%29

We still need to provide examples of filtering the list resource once #55 is merged.

[2013-03-18 22:16] #54 closed, assigned to nobody

[2013-03-19 14:56] ghing commented on #6
It might be useful to generate a fixture using the dumpdata management command to bootstrap the test database for testing the various Resource classes.

Should the data be sanitized? I'm not sure how I feel about people's inmate admission records living forever in a git repo history. In the past, I've written a script using the [name_generator](https://github.com/macropin/random-name-generator) pa

[2013-03-30 02:39] wilbertom commented on #52
### Working on This

Hey team, I started working on this but I got stuck because I'm not sure how we want to handle this as a team. When creating the data migration do we want to?
- Create a new field on the CountyInmate table and do some "stuff" on the housing_location field and migrate it to the new field.
- Or create a HousingHistory and HousingLocation record from the housing_location field an

[2013-03-30 02:48] wilbertom opened #56 "Generate Inmate Summaries"
## Generate Inmate Summaries

This is a requested feature and it is easy enough to implement since we already have a table and command for it. All we need to do is implement it. Something to keep in mind is that all summaries should be **_a day or more behind_** because the cook county website seems to be behind.

[2013-03-30 14:21] eads commented on #36
Can we close this?

[2013-03-30 14:36] eads opened #57 "Move to Amazon AWS for production and staging environments"
Unfortunately, I couldn't get detailed usage information from Heroku. I'll have a proposal soon.

[2013-03-30 14:54] eads commented on #57
The general idea would be Varnish + Django API + Postgres (or MySQL) spread across a couple of boxes. Two scenarios that jump out:
- Varnish server / App + db server -- This would be a simple, easily tuned architecture, but might have some issues with robustness under heavy load.
- Varnish server / App server / db server we run -- Same idea, just split the db server out. A little more complicated.

[2013-03-30 19:12] Davy-jones-Giant-squid commented on #53
Is there a directory or a website we can refer to, in order to match the courtroom with the judge?

[2013-03-30 19:13] eads commented on #57
Tentative plan:
- Create "Small" Amazon EC2 instance
  - Install nginx (webserver)
  - Install postgresql (database server)
  - Get application running on environment
  - Migrate data
  - Set up cron script to get data nightly
- Deploy frontend app to Amazon S3 (create new bucket)
- Create "Micro" Amazon EC2 instance: Install Varnish cache

[2013-03-31 18:29] eads commented on #57
We're up on Amazon, thanks to @MiseryPanda and Axel Rendon. Next step is systematizing this work with a Fabric script. I'll walk ya through it next time we meet up, which might have to be outside OpenHack. Here's a snapshot of what happened:
- Create Amazon "small" EC2 instance
- Set up required packages: Python, Nginx, Postgres, build tools, virtualenv tool-chain
- Modify app to support new archi

[2013-03-31 18:29] #57 closed, assigned to nobody

[2013-03-31 18:31] eads opened #58 "Create fabfile to deploy to Amazon EC2"
Needs to be able to:
- Setup/teardown db
- Create virtualenv
- Clone/manipulate repo
- Place configuration files in the correct locations
- Bounce cache
- Restart services
- Deploy frontend repo to Amazon S3

[2013-03-31 18:32] eads opened #59 "Should 26thandcalifornia be a subrepo of this project for easy deployment to S3?"

[2013-03-31 18:36] eads opened #60 "Refactor api to handle related filtering"
Instead of looking for a `related` param in dehydrate method and firing a query, we can flip the script and surpress the related fields. We also need to account for housing history.

[2013-04-02 06:47] wilbertom commented on #59
I think it should all be one app. It makes sense to have them separated as different repos. It separates the back end from the visual stuff. However when presenting the project to other people it feels nice to have a UI built in.

[2013-04-02 06:49] wilbertom commented on #36
We should. When I looked at it, it was saving the right empty charges. It might be better to save them better as a null?

[2013-04-02 13:31] wilbertom commented on #58
Should we use Fabric?

[2013-04-02 15:01] eads commented on #58
That's what I'm sayin' (:

On Tue, Apr 2, 2013 at 8:31 AM, Wilberto Morales
notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful thing about life is this: everyone has their reasons.” -- Jean
Renoir

[2013-04-02 15:12] eads commented on #59
Yeah, I'm inclined to suggest we include the frontend in the cookcountyjail
repo, just so people can get at it a little more easily.

On Tue, Apr 2, 2013 at 1:47 AM, Wilberto Morales
notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful

[2013-04-02 16:08] eads commented on #36
Yeah, that's a good idea. Plus a migration to turn empty strings into null
values. So let's close this and make a follow up ticket.

On Tue, Apr 2, 2013 at 1:49 AM, Wilberto Morales
notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

“The awful

[2013-04-02 16:49] fgregg commented on #59
This sounds like a good case for submodules:
http://git-scm.com/book/en/Git-Tools-Submodules

On Tue, Apr 2, 2013 at 10:12 AM, David Eads notifications@github.comwrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2013-04-03 15:47] mikedrouet opened #61 "WTTW Chicago Tonight Story and Data Viz of Cook County Jail Overcrowding"
Wanted to put a reference in for documentation:

http://chicagotonight.wttw.com/2013/04/02/cook-county-jail-near-capacity

[2013-04-03 16:00] wilbertom opened #62 "API fields with whitespace"
API fields who have whitespace in their primary keys do not generate a resource uri. Underneath the hood tastypie call `django.core.urlresolvers.reverse` who doesn't support whitespace. It might on a newer of django though.

[code]

[2013-04-03 16:14] #50 closed, assigned to wilbertom

[2013-04-07 05:30] nwinklareth opened #63 "Some records do not have a booking date and have wrong length of stays"
Records from the days, 2012/12/22, 20912/12/23 & 2012/12/28 do not have booking date and their length of stay is also wrong.

[2013-04-07 06:27] nwinklareth opened #64 "Not capturing all prisoners"
According to the website prisoner with Jail Id of 2013-0404007 exists, http://www2.cookcountysheriff.org/search2/details.asp?jailnumber=2013-0404007, yet this person is not in the database. Upon inspection I found over 10 prisoners that exist in the Cook County Jail, booked on April 4th, 2013, that are not in the database.

[2013-04-07 14:44] eads commented on #64
There are three possibilities for why this might be.

I discovered a bug yesterday in the housing location parser.

And Wil alerted me to a bug in the scrapers general error handling logic --
pages with 500 errors cause incorrect discharge dates.

And sometimes there are just gaps in the inmate records.

The upshot is we need better error handling and even moreso better testing.
On Apr 7, 2013 1:2

[2013-04-07 17:57] wilbertom opened #65 "Misleading housing history date"
On the history date we must change from housing date to found history date or something because we don't know exactly when the inmate was moved. And will prevent confusion from instances like when the first housing_date isn't the same as the booking date.

[2013-04-07 22:50] wilbertom opened #66 "Scraper error"
NameError: global name 'parsed_location' is not defined

[2013-04-07 22:51] wilbertom commented on #36
Charges fields are already null but for some reason tastypie shows the as ""

[2013-04-07 22:51] #36 closed, assigned to wilbertom

[2013-04-20 03:50] #52 closed, assigned to nobody

[2013-04-27 20:19] wilbertom opened #67 "Add monitoring to the server"
Log server queries.

[2013-05-04 21:10] wilbertom opened #68 "Bringing down the Server"
Explanation available at https://groups.google.com/forum/?fromgroups=#!topic/supremecoding/6-vjIYm2r3c

First time Imported 408 inmate records.
Second time Imported 376 inmate records.

[2013-05-18 20:27] #61 closed, assigned to nobody

[2013-05-25 20:04] eads opened #70 "Test full poll (run and verify data)"
Do a full poll mode scrape. It may be best to just do this on the server after backing up the database.

[2013-05-25 20:05] eads opened #71 "Run full poll on the server"
Back up the db and run the full poll. It might make sense to combine this with the previous ticket.

[2013-05-25 20:05] eads opened #72 "Use poll mode for scraper"
Needs some testing first...

[2013-05-26 06:01] wilbertom commented on #68
A second delay was added

[2013-05-26 06:01] #68 closed, assigned to nobody

[2013-05-26 06:02] wilbertom commented on #66
Merging Errors were fixed.

[2013-05-26 06:02] #66 closed, assigned to nobody

[2013-05-26 06:03] wilbertom commented on #42
We are Parsing them, next step would be to test the new parser.

[2013-05-26 06:03] #42 closed, assigned to nobody

[2013-06-08 04:07] wilbertom opened #73 "Bug with court location parser on Server"
[code]

The parser tried to typecast to an int the string 'IL'

[2013-06-08 04:10] wilbertom opened #74 "Update Api with new charges model"

[2013-06-08 18:38] #73 closed, assigned to nobody

[2013-06-15 21:05] wilbertom opened #75 "Audit the database audit"
Go over the database audit and make sure it all seems to work and doesn't miss anything. After that we can run it on the database

[2013-07-06 21:36] #65 closed, assigned to wilbertom

[2013-07-08 15:30] fgregg commented on #12
http://www.nbcchicago.com/news/local/cOUNTY-jAIL-oFFICIALS-pLAN-TO-cLOSE--86360287.html

and

http://www.openstreetmap.org/?lat=41.842878&lon=-87.695419&zoom=18

Seem to be what we are looking for.

[2013-07-08 15:57] wilbertom commented on #12
This is awesome!

On Mon, Jul 8, 2013 at 10:30 AM, Forest Gregg notifications@github.comwrote:

[2013-07-13 09:13] #49 closed, assigned to nobody

[2013-07-13 10:02] #56 closed, assigned to nobody

[2013-07-15 06:54] bepetersn opened #78 "Server-side caching still not working"
<h2>Before</h2>

What Dave did with the Nginx config file does not seem to have achieved our ideal goal; what I understand that goal is, correct me if I'm wrong:

We need to keep our data within reach and ready to be served from the recoveredfactory.com/api/1.0/ site at all times to clients asking for it (except at minimum for a few minutes right after we do a scrape).

<h2>Current state</h2>

It

[2013-07-15 22:03] eads commented on #78
Brian, the caching appears to be working from this end.

What you describe (and the headers I see) are why I believe this. A fast second load and headers that look like this (on second load):

"""
Cache-Control:s-maxage=720, max-age=720
Connection:keep-alive
Content-Encoding:gzip
Content-Type:application/json
Date:Mon, 15 Jul 2013 21:34:21 GMT
Server:gunicorn/0.17.2
Transfer-Encoding:chunked
Vary:

[2013-07-15 22:36] bepetersn commented on #78
Ah, so you think it's caching for 12 minutes (720 seconds) at a time, and
only after one of us loads all the resources? I guess that might match what
I was seeing the other day.

But that's weird. I can see from the headers you posted where the nginx
conf added a header for status: "X-Cached:HIT". But at the same time, 720
seconds isn't the value set in nginx.conf; there, the cache is set to be
va

[2013-07-15 22:50] eads commented on #78
Yup, that's exactly it and I'm pretty darn sure this is the right path to
take. We use a similar cache priming technique at the trib using varnish
for the crime site. And we're using nginx caching along these lines for a
bunch of new projects, including API driven stuff.

So the real trick is a) debugging the nginx conf to get max age working
properly, b) getting nginx caching to respect a cache b

[2013-07-16 00:04] bepetersn commented on #78
If I may suggest, I was troubleshooting the caching, and I do know that the
tastypie caching was set to cache for 720 seconds exactly. I don't know if
that's just a coincidence, but is it possible the settings from the caching
systems are cascading together ... or something? However, I can't think of
how to test this. I just changed line 384 in countyapi/api.py from "cache =
SimpleCache(timeout=72

[2013-07-26 00:55] #78 closed, assigned to nobody

[2013-07-27 16:14] eads commented on #67
Do we still need to do this?

[2013-07-27 16:16] eads commented on #64
Seems like the recent improvements by @nwinklareth have us close to resolution on this.

[2013-07-27 16:17] eads commented on #72
@nwinklareth -- this is invalid now, correct?

[2013-07-27 16:21] nwinklareth commented on #64
David,

As I just got the new collection system to run successfully this morning, I
was going to let it run for a few more days and if it is successful then I
would say that this is resolved.

On Sat, Jul 27, 2013 at 11:16 AM, David Eads notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-07-27 16:29] nwinklareth commented on #72
This was something I wanted to discuss. When I ran the audit it found over
800 inmates using polling. What I wanted to do was to check if these
inmates showed up in the alphabetical lists or not. This is easy to
determine, there is a list of the found inmates and the scrapper logs when
it starts the discharge pass. If one of these inmates last_seen_date is
later then the start of the dispatch pass

[2013-07-27 16:32] nwinklareth commented on #67
Yes,at least two:
- webserver
- scrapping program

Failure notifications should be sent to the supreme coding mailing list so
one of us can address the issue.

On Sat, Jul 27, 2013 at 11:14 AM, David Eads notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-07-27 17:57] eads commented on #67
Yeah, let's split this out into a couple of tickets. I'm thinking
@bepetersn is probably the person for the job. A "health" API endpoint is
the other thing we should add.
On Jul 27, 2013 11:32 AM, "nwinklareth" notifications@github.com wrote:

[2013-07-27 20:03] eads opened #87 "Fix cache priming issue (bad permissions clearing the cache)"

[2013-07-27 21:51] MMisery opened #88 "investigate API performance issues"
When accessing http://cookcountyjail.recoveredfactory.net/api/1.0/countyinmate/?format=json&limit=0&related=1 in the browser, a 504 is thrown after roughly 4 minutes (240157 ms) of trying to fetch the data. Below is a screenshot of the problem. It was suggested that the cause of the problem may be a bad join (within the query) with the related information.
![nginx_timout](https://f.cloud.github.co

[2013-07-28 05:30] wilbertom opened #89 "Reverse compatibility has been broken"
Hey hackers!

I call dips on this issue. I haven't been around the project so it's going to take me around a week to fix this one. I have to learn how we are parsing the housing locations and how the new models work.
# Problem

In the data migrations there we some functions that got used that no longer exists. This needs to be fixed because when a new contributor tries to migrate to the new models

[2013-07-28 17:15] #87 closed, assigned to nwinklareth

[2013-07-28 17:19] nwinklareth opened #91 "update Cook County Jail project home page"
Examination of the website log files reveals that requests are made to the '/', so we should tell them about the website, especially tell them about 26thandcailfornia.recoveredfactory.net so if it is a spider, search engines know about the data collected.

[2013-07-28 17:20] nwinklareth opened #92 "Add /robots.txt file"
See requests for this in the webserver log file.

[2013-07-28 17:20] nwinklareth opened #93 "automate pruning of cron job and gunicorn logs."

[2013-07-29 05:43] nwinklareth opened #95 "Add summary data of population by day"
Broken down by race and gender

[2013-07-29 20:56] bepetersn commented on #89
@nwinklareth and I saw this problem, I think, just the other day. A work-around we found (not exactly a fix) is just to drop the database in the "ccj" file at the root of our project. Then run `syncdb` and `migrate`, like normal.

Maybe this isn't a fix for your problem, or we need to work out a better one. Let me know.

[2013-07-30 01:28] eads opened #96 "Is in_jail field always null?"
Paging @wilbertom

[2013-07-30 01:30] eads commented on #59
26thandcalifornia has it's own deployment process... we'll leave it this way for now.

[2013-07-30 01:30] #59 closed, assigned to nobody

[2013-07-30 01:32] eads commented on #6
This needs to become part of our practice and we need specific tickets.

To address @ghing's comments from way back, we don't track any names nor do we keep the DOB (just the age at booking), so there's very little to identify people once they've dropped out of the system.

[2013-07-30 01:32] #6 closed, assigned to codersquid

[2013-07-30 15:02] wilbertom commented on #96
The idea behind that field is that we find out whether an inmate is actually in the jail or not. Right now for example when they are AWOL, it can be set to False.

[2013-07-30 16:00] eads commented on #96
What are the possible values and how should they be interpreted?
On Jul 30, 2013 10:08 AM, "Wilberto Morales" notifications@github.com
wrote:

[2013-07-30 16:21] wilbertom commented on #96
True, False, Null

True: the housing location is located in the Cook County Jail

False: the inmate is in the system but not actually housed in the jail.

Null: We don't know enough about the housing location to pick true or false

[2013-07-30 23:44] eads commented on #96
I haven't had a chance to check, but how reliably are these being parsed?
On Jul 30, 2013 11:41 AM, "Wilberto Morales" notifications@github.com
wrote:

[2013-07-31 00:01] nwinklareth commented on #96
The changes that Brian and another person, whose name I forgot, plus a fix
I made have greatly improved the parsing of this information.

If we could figure out if a person is in a jail or not would be a good
thing.

Norbert

On Tue, Jul 30, 2013 at 6:45 PM, David Eads notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-07-31 00:09] bepetersn commented on #88
I have reproduced this error by a different means. When querying all five of our APIs (countyinmate, courtlocation, housinglocation, courtdate, and housinghistory) in a row with a 'limit'=0 param, I got this error only on the last two.

One thought I have is that both of these (courtdate and housinghistory) have to do foreign key lookup, whereas the other three do not. For instance, CourtDate obje

[2013-07-31 00:14] nwinklareth commented on #88
Brain,

Have you tried the last two calls by themselves?

Would also please include the calls you making in the your as well?

Norbert

On Tue, Jul 30, 2013 at 7:09 PM, Brian Peterson notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-07-31 00:25] bepetersn commented on #88
I can confirm courtdate API endpoint fails by itself with limit=0. Note
that it doesn't fail if you don't ask for everything. I've tried as much as
1000 and it gave me the data.
On Jul 30, 2013 7:14 PM, "nwinklareth" notifications@github.com wrote:

[2013-07-31 00:26] eads commented on #88
I can weigh in on this a little later, I have some insight to share
On Jul 30, 2013 7:09 PM, "Brian Peterson" notifications@github.com wrote:

[2013-07-31 00:54] eads commented on #88
Okay, so this is a fun one. I did some profiling of Tastypie back in Feb to
address our perennial performance problems. I thought at first it was
because we weren't doing JOINs but instead querying for every record. So I
fixed that, but the mofo still ran slow. It turns out getting the whole
record set, joins and all is on the order of a few seconds. I found
Tastypie is the culprit: to allow for t

[2013-07-31 01:20] nwinklareth commented on #88
Why don't we start by converting the database to use utf-8 and then convert
all of the data in it to utf-8, wouldn't that avoid the tastypie conversion
problem?

Also is it possible that tastypie 0.9.16 might handle this better 0.9.14 we
are currently running?

Norbert

On Tue, Jul 30, 2013 at 7:54 PM, David Eads notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-07-31 01:31] eads commented on #88
Converting the db to UTF might help if Tastypie is smart enough to skip the
encoding in that case.

We should try upgrading, though I thought 0.9.15 was latest stable version.
IIRC 0.9.14 put in a major performance improvement related to object
copying. I will check on that.
On Jul 30, 2013 8:20 PM, "nwinklareth" notifications@github.com wrote:

[2013-07-31 02:15] bepetersn commented on #88
That sounds like a good idea, Norbert. I'm not sure, but I think converting to utf-8 should be pretty trivial.

[2013-08-03 21:33] wilbertom opened #99 "Fix the way the housing histories are being created"

[2013-08-03 21:53] wilbertom opened #100 "Fix the way the housing histories are being created"

[2013-08-03 22:02] #100 closed, assigned to nobody

[2013-08-04 07:45] wilbertom commented on #91
I added pages to the '/' and '/api' routes. Right now their just text with no styling at all. How much design to you think we actually have to put into these?

[2013-08-04 10:38] #92 closed, assigned to nobody

[2013-08-04 10:43] #89 closed, assigned to wilbertom

[2013-08-04 18:23] nwinklareth opened #102 "Add documentation on HousingHistory API"

[2013-08-04 18:24] nwinklareth opened #103 "Add documentation on runtime configuration"

[2013-08-04 22:43] nwinklareth commented on #91
They need a little TLC.

On Sun, Aug 4, 2013 at 2:45 AM, Wilberto Morales
notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-08-06 17:15] bepetersn opened #110 "Do we have 421 tests?"
If I run `./manage.py test`, after a lot of dots I get:

[code]

But I only see 2 tests...

[2013-08-06 23:27] eads commented on #110
That's running the full django test suite. Try using adding 'countyapi' to
your incantation to run just our tests.
On Aug 6, 2013 12:33 PM, "Brian Peterson" notifications@github.com wrote:

[2013-08-08 05:01] eads commented on #91
+1. Simple, big text, a link to the docs... that's probably what the 404 should be too.

[2013-08-08 05:15] eads commented on #92
Yay!

[2013-08-08 05:17] eads commented on #91
You can steal the rendered source from 26thandcalifornia too...

[2013-08-09 05:47] eads opened #111 "Add sorting to API resource definitions"
For every Tastypie Resource in `cookcountyjail/api.py` we need to enable sorting on all filterable, non-relational fields.

[2013-08-09 07:02] eads commented on #58
This is done!

[2013-08-09 07:02] #58 closed, assigned to MMisery

[2013-08-09 07:02] #64 closed, assigned to nobody

[2013-08-09 07:02] #110 closed, assigned to nobody

[2013-08-09 07:03] eads opened #112 "Add summaries API documentation"

[2013-08-09 07:06] eads commented on #95
This is in! See https://github.com/sc3/cookcountyjail/blob/master/countyapi/models.py#L94

[2013-08-09 07:06] #95 closed, assigned to nobody

[2013-08-09 07:08] eads opened #113 "Determine way to parse and categorize charges"
The citation associated with an inmate are potentially interesting. Perhaps we should create a Google spreadsheet and do some good old fashioned research! It would be most excellent to link each charge to the appropriate section of the lawbooks online, too.

[2013-08-09 07:14] eads opened #114 "Add bookings per day summary model"
There's now a DailyPopulationCounts model in `cookcountyjail/models.py` and code in the `generate_summaries` management command to generate the table. The next logical step is to do the same thing for the number of bookings per day.

[2013-08-09 21:45] bepetersn commented on #113
I have wanted to do this since I found out about this project. Seeing analysis of the different charges and their frequencies would be extremely interesting.

[2013-08-11 01:09] bepetersn opened #115 "fix court_location parsing to represent a true one-to-many relationship"
<h3>Right now</h3>

Right now we parse all the details of a court location, then do a get_or_create with all of those parameters (room_name, branch_name, location_name, address, zip code, city, and state).

<h3>Problems</h3>
- First of all, we shouldn't have to parse all 4 lines of the standard court location every time for every inmate who has a court_date. This is extra work.
- Doing so anyway a

[2013-08-11 01:22] bepetersn opened #116 "Look into unqiuely identifying individuals"
There could be a couple of approaches that are worth trying; either of which might allow us to begin to try to track recidivism in the CCJ:
- Hashing a name, birthdate, and race
- Creating our own unique identifiers for an individual

The tradeoffs aren't clear to me for preferring one over another. We could also use a similitude algorithm of some kind to try to match weights and heights.

[2013-08-11 06:54] eads commented on #116
I'm not really clear on the second option. We don't have a clear unique D, like a social security number or an IR number. So it seems like uniquely identifying specific people has to depend on the first option in some form. The question, I think, is how that should work. This requires some research in naming + birthdate uniqueness, I suspect.

Here's my assumptions about the problem:

Just a name

[2013-08-11 20:40] eads commented on #115
I like this. We should probably bite the bullet and separate out court buildings into their own objects. That's the right way to do it, and as we need to improve related field handling in the API generally, now is the time to do it.

We should also store the 4 line string as it is seen on the court date object. We should try to preserve the original data as much as possible with the exception of n

[2013-08-12 01:19] bepetersn commented on #116
Well, my understanding is basically the same on all these things. One easy thing Matt suggested would be to take only the first letter of the race code, so: "L" for "LT", "LW", or "LB". That would also us to make a hash based on name, birthdate, and race. So for instance we could hash the string "BrianPeterson080493W", or something like that.

How does that sound? It's easy, regardless. I'm just t

[2013-08-12 01:43] eads commented on #116
The first letter of race is interesting. I don't see why not... The risk of
collisions seems very small. Also let's include gender in that string.
On Aug 11, 2013 8:19 PM, "Brian Peterson" notifications@github.com wrote:

[2013-08-12 02:06] bepetersn commented on #116
What I'm curious to know right now is if we currently have representations for people with the exact same name and birthdate but different other fields like booking_date in our database. I'd like a sense for the kinds of recidivism in our system we might be catching. But 48,000 x 48,000 is a lot of records to iterate over. EDIT: Just checked. 2.3 billion is the number of records whose names and bi

[2013-08-12 12:17] eads commented on #116
You should run the analysis! It really isn't a ton to process (:
On Aug 11, 2013 9:06 PM, "Brian Peterson" notifications@github.com wrote:

[2013-08-13 00:58] bepetersn commented on #116
<h4>Here are some confirmed examples of returning inmates or recidivism: </h4>

![dmupjco](https://f.cloud.github.com/assets/1389463/951802/2f7e9c5e-03b0-11e3-9f35-a60a33bf7d23.png)

I am currently scraping the CCJ website with a new person_id field added to the inmate model ... it's going to take many hours, since I failed to set up the postgreSQL database (sqlite doesn't support concurrency as w

[2013-08-13 04:42] bepetersn commented on #116
Yeah, I was definitely wrong about that, the date I was looking at was date of birth, not different dates booked. Those individuals are simply individuals who have the same name.

Having looked at the first 1900 inmates, none of them have returned to jail. I'll keep trying to understand this data.

[2013-08-13 05:04] eads commented on #116
You should just write some python to hash what's in the database now.

The proposed refactoring has some problems. Generating an identifier for
each inmate... that's important. Let's make that work. The jailstay object
could essentially be what the inmate object is now. Normalizing inmate
demographics actually doesn't make sense because the way it works now, you
can see if their weight changed bet

[2013-08-13 05:11] bepetersn commented on #116
I think I understand what's happening. In the jail at any given time, there can only be one record of a given inmate staying in the jail. It's only over time that an individual person first stays at the prison, then leaves, then comes back again, and might be assigned a new jail id and have a different booking date reflecting when they come back.

However, note that I have had to redefine the inma

[2013-08-13 05:19] bepetersn commented on #116
I hear you, Dave. No need to normalize personal data. At a minimum, though, we can tie all the data we are hashing to create a unique id with to the inmate object, instead of a jail_stay object, since we're assuming it stays the same anyway.

[2013-08-14 00:11] bepetersn opened #118 "Collapse some race categories"
Having done a little bit of research, I think we can safely collapse together a couple of our race categories, including 'WH' into 'W' and 'BK' into 'B'.

If you look at the photos associated with inmates marked 'B' for instance... there is nothing special about them, they are black. There just are only 71 records of people with race code 'B' in our pretty-large-database, while there's 34,000ish w

[2013-08-14 15:21] andymboyle opened #119 "Clicking #about link on general statistics page doesn't work"

[2013-08-14 15:21] andymboyle opened #120 "Clicking #home as a link doesn't work (it just spins)"

[2013-08-14 15:22] andymboyle opened #121 "Various graphs are too wide for browser width"
Booking Per Day and Jail Population have graphs that go wider than my screen width, so need to figure out how to responsivize these.

[2013-08-14 23:49] bepetersn commented on #121
Hey Andy,

Thanks for contributing. Technically, I think this and the other two issues you added should be associated with the sc3/26andcalifornia project, since they are all about its UI. This project only provides an API to the data we've collected from the CookCountyJail. 26th uses that API and data, but it displays it its own way.

[2013-08-17 00:58] wilbertom commented on #121
Yup, [moving this issue](https://github.com/sc3/26thandcalifornia/issues/56) over to 26thandcalifornia.

[2013-08-17 01:03] #121 closed, assigned to nobody

[2013-08-17 01:07] wilbertom commented on #120
Moving over to 26thandCalifornia

[2013-08-17 01:08] #120 closed, assigned to nobody

[2013-08-17 01:10] #119 closed, assigned to nobody

[2013-08-17 01:14] wilbertom commented on #75
I think that Norbert's updated proposed version of the audit takes care of this.

[2013-08-17 01:14] wilbertom commented on #75
Should the old audit be deleted?

[2013-08-17 01:20] wilbertom commented on #53
I was really happy when I found out that we can scrape some data on judges. However the [site](http://www.state.il.us/court/circuitcourt/CircuitCourtJudges/Judges.asp) that put my hopes up doesn't seem to have what we need. Is there another one?

[Another page that might have a nice list hidden.](http://www.state.il.us/court/circuitcourt/circuitmap/Cook.asp)

[2013-08-17 01:21] #70 closed, assigned to wilbertom

[2013-08-17 01:22] wilbertom commented on #74
As noted on the meeting, the API doesn't show the charges fields ever since we switched over to tracking their history.

[2013-08-17 01:59] eads commented on #74
We need to tweak the resource object in api.py.
On Aug 16, 2013 8:22 PM, "Wilberto Morales" notifications@github.com
wrote:

[2013-08-17 10:39] randy7771026 opened #124 "Tie hash tags to recidivism and locations with information from 911 calls, scanners and arrest records as well as information from neighborhood non-technical people."

[2013-08-18 14:31] nwinklareth opened #127 "Person ID field in database is too small"
Set to 32 characters in length, however sha256 generates a 64 character in length value

[2013-08-18 14:38] bepetersn commented on #127
Woops. The hex value for it is you mean? 256/4 = 64, yep. Sorry, knew
there'd be some bug.
On Aug 18, 2013 9:31 AM, "nwinklareth" notifications@github.com wrote:

[2013-08-18 19:32] nwinklareth opened #133 "Filtering difference between json and jsonp calls"
Noticed a difference between fetching data from DailyPopulationCounts using json and jsonp calls.

This call using json return the requested subset:
- http://cookcountyjail.recoveredfactory.net/api/1.0/dailypopulationcounts/?format=json&limit=0&booking_date__gte=2013-07-01&booking_date__lt=2013-08-01

The same call specifying jsonp, returns everything:
- http://cookcountyjail.recoveredfactory.net/

[2013-08-19 02:07] #114 closed, assigned to nobody

[2013-08-19 02:14] wilbertom commented on #112
`dailybookingscounts` and `dailypopulationcounts` are semantically identical. Both of them can be documented at the same time.

The only difference between the two is that `dailybookingscounts` has `female_minors` and `male_minors count`.

[2013-08-19 02:44] #74 closed, assigned to nobody

[2013-08-19 02:46] wilbertom commented on #12
This seems to be usable in [26thandcalifornia](https://github.com/sc3/26thandcalifornia)

[2013-08-19 02:46] #12 closed, assigned to nobody

[2013-08-19 03:17] eads commented on #112
Oh snap. Very glad you're tackling this...

On Sun, Aug 18, 2013 at 9:14 PM, Wilberto Morales
notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

Stay grimy!

[2013-08-20 00:26] wilbertom commented on #133
Is this still a issue? If so, where is the difference in the responses.

[2013-08-20 01:06] wilbertom commented on #113
I'm looking into this. The scraping is going to be pretty severe. Should this be it's own app. So having `countyapi` and `ilcsapi`

[2013-08-20 03:20] bepetersn commented on #113
At least pre- our conversion to the 2.0 API, I don't think it should be separate. Doesn't it make sense to start it off as a `parse_charges` function analogous to `parse_location`?

[2013-08-20 04:43] nwinklareth commented on #133
Well when I just tried it now I did not see the problem I first reported so I am going to close this.

[2013-08-20 04:43] #133 closed, assigned to nobody

[2013-08-20 05:00] wilbertom commented on #133
Still let's keep an eye on it just in case.

[2013-08-20 12:36] bepetersn opened #136 "Simplify and speed up clone_db by serializing a copy of our database after each scrape"

[2013-08-20 12:36] nwinklareth commented on #127
Brain Peterson pointed out that my fix was incorrect. I modified 0014 migration file and not countyapi/model.ps file which is what I should. This is do to incorrect assumption on my part of how South works

[2013-08-20 12:38] bepetersn commented on #127
For nearly every purpose i can think of it actually worked. However, at
least for documentation's sake we should change the model.
On Aug 20, 2013 7:36 AM, "nwinklareth" notifications@github.com wrote:

[2013-08-20 12:43] nwinklareth commented on #127
Fixed see issue #137

[2013-08-20 12:43] #127 closed, assigned to nobody

[2013-08-20 12:43] bepetersn commented on #136
For accomplishing what we already do, all that is necessary from the server side is as simple as:

[code]

I guess we could then expose this data through an API? Or something. I'm not sure. It was @eads's recommendation originally. For more complex "cloning" use-cases, like only getting the data you're missing since a certain date, a wrapper around the following functionality should do the job:

[

[2013-08-20 14:10] eads commented on #136
No need to serve it up through the API -- look into how to serve static
files with Django and nginx. Should be easy business.
On Aug 20, 2013 7:44 AM, "Brian Peterson" notifications@github.com wrote:

[2013-09-07 20:40] nwinklareth opened #138 "Document V2.0 API aims / goals"
Driven by need to improve information model, based on learnings from v1.0 version.

Also to use more lighter weight technology.

Requirement document: https://docs.google.com/document/d/1ZoY-R0deM8OUGtsLfyegqE-QMwnZBp3vmbMQ3eQcXcw/edit?usp=sharing

Proposed Information Model: https://docs.google.com/drawings/d/1WAXGB1l5QcX_2XV5_VjvVNNxOO9UvGIh5jXgakNnICo/edit?usp=sharing

[2013-09-21 22:43] nwinklareth opened #144 "ChargesHistory data is incorrect"
At record 39452, the charges and charges_citation fields data is swapped. This also means that the code that updates these fields is incorrect and needs to be fixed.

The records from 1 up to and including 39451 are correct.

[2013-09-28 11:05] wilbertom commented on #144
I just did a commit to try and fix this.

Someone should look over the data migration because I didn't have a big enough copy of the database to assert I didn't make any mistakes.

The scraper was also updated.

# Note

The migration has to be ran before the next scrape after the code is updated. Otherwise it will switch around the new correct values.

[2013-09-28 14:37] nwinklareth commented on #144
I updated the website ad ran the migration and the data looks good. Thanks Wilberto.

[2013-09-28 14:37] #144 closed, assigned to nobody

[2013-10-06 00:39] nwinklareth opened #147 "Change the database backup files to be API Version specific"
Currently /clone will provide you with a backup of the V1.0 database. This needs to be changed to /api/1.0/clone. At this address it needs to return the database associated with the 1.0 API.

[2013-10-06 19:16] nwinklareth opened #156 "Dumping the database runs out of memory with Django 1.4.2"
The version of dumpdata in Django 1.4.2 loads all of the database objects into memory and serializes them into JSOM all in memory. The database has grown to be so large that this approach runs out of memory.

[2013-10-06 19:19] eads commented on #156
There's a patch for this in Django 1.6. But maybe there's a way to define
our own command to do this instead of patching Django or running an
unstable version.
On Oct 6, 2013 2:16 PM, "nwinklareth" notifications@github.com wrote:

[2013-10-06 21:33] bepetersn commented on #156
So is django v1.54 recent enough to get a better dumpdata command?

[2013-10-06 22:08] nwinklareth commented on #156
Yes but our site does not work on Ubuntu, works on my Mac.

I get 500 on every request and I cannot figure out where it is happening.
It seems to be happening before it tries the routes.

So help, otherwise I need to revert back to Django 1.4.2 and turn off
database dumping.

Brian, can you try the new version on your machine and see it works?

And apologies.

Norbert

On Sun, Oct 6, 2013 at 4:33

[2013-10-06 22:18] bepetersn commented on #156
Well, not everything is broken. Static files are still being served.

[2013-10-06 22:29] nwinklareth commented on #156
True, and all the api calls fail.

When I set DEBUG to true then the site works, which is why it works on may
Mac.

On Sun, Oct 6, 2013 at 5:18 PM, Brian Peterson notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-10-06 22:35] bepetersn commented on #156
Ok, well I just noticed that the fabfile's location for
'installed_nginx_fname' is wrong. I think this is my fault, it should be:
/etc/nginx/sites-enabled/cookcountyjail.conf, where it is currently
/etc/nginx/sites-available/cookcountyjail.conf.

This might be part of the problem, but definitely not all of it. I am
thinking that it's an nginx issue. Note that there's an nginx conf in
sites-enabled

[2013-10-06 22:35] nwinklareth commented on #156
Perhaps that what we should do for now, is leave DEBUG=True to get the site
back up and running?

We don't have confidential stuff that wil be revealed if people put in bad
paths

On Sun, Oct 6, 2013 at 5:29 PM, Norbert Winklareth <
norbert.winklareth@gmail.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-10-06 22:36] bepetersn commented on #156
Do you mean DEBUG=True in the django app? I think you do. Anyway, that
sounds fine, if you think that will make it work.

On Sun, Oct 6, 2013 at 5:35 PM, nwinklareth notifications@github.comwrote:

##

Brian Peterson

[2013-10-06 22:42] nwinklareth commented on #156
Yes in the Django app. The problem is in how we handle the configuration of
Django. There is some constraint that is applied when DEBUG=False, or some
something is ignored when DEBUG=True. That is what we need to figure out.

On Sun, Oct 6, 2013 at 5:36 PM, Brian Peterson notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-10-06 22:47] bepetersn commented on #156
I think you're right, I checked the nginx error log, there are some weird
errors happening that I need to sort out, but not while accessing
'/api/1.0', or any should-be-working address.

On Sun, Oct 6, 2013 at 5:42 PM, nwinklareth notifications@github.comwrote:

##

Brian Peterson

[2013-10-06 23:02] nwinklareth commented on #156
I confirmed that if I do the following on Mac:
export CCJ_PRODUCTION=1
./manage.py runserver
curl http://127.0.0.1:8000/api/1.0/?format=json

I get: <h1>Server Error (500)</h1>%

So it most definitely an issue with the way we use Django and how Django
1.5.4 operates.

I have to go so I am going to put DEBUG=True in cookcountyjail/settings.py
and push it to the website.

And i ask that others pleas

[2013-10-06 23:13] nwinklareth commented on #156
I have push the fix and the website works.

Please update your copies to the latest version and please help track down
what is causing the error when DEBUG is set to False.

Thanks
Norbert

On Sun, Oct 6, 2013 at 6:02 PM, Norbert Winklareth <
norbert.winklareth@gmail.com> wrote:

[2013-10-06 23:17] bepetersn commented on #156
I bet this is it: http://stackoverflow.com/a/15128309/1151229. Basically,
we need an 'ALLOWED_HOSTS' setting in our settings.py. I'm not exactly sure
what our hostname is, or I would add it right now.

On Sun, Oct 6, 2013 at 6:13 PM, nwinklareth notifications@github.comwrote:

##

Brian Peterson

[2013-10-06 23:30] bepetersn commented on #156
Yeah, we just need to add a line to the cookcountyjail/settings.py:

ALLOWED_HOSTS = ['cookcountyjail.recoveredfactory.net']

And that should make it work. This is a known issue for upgrading from 1.4
to 1.5.

On Sun, Oct 6, 2013 at 6:17 PM, Brian Peterson bepetersn@gmail.com wrote:

##

Brian Peterson

[2013-10-07 00:14] nwinklareth commented on #156
Brian,

Logged into the website and try it out.

Norbert

On Sun, Oct 6, 2013 at 6:30 PM, Brian Peterson notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2013-10-07 00:16] bepetersn commented on #156
Right. When i get a minute, I will.
On Oct 6, 2013 7:14 PM, "nwinklareth" notifications@github.com wrote:

[2013-10-07 03:19] bepetersn commented on #156
Pull request submitted.

On Sun, Oct 6, 2013 at 7:16 PM, Brian Peterson bepetersn@gmail.com wrote:

##

Brian Peterson

[2013-10-07 06:32] nwinklareth commented on #156
The ALLOWED_HOSTS change fixed issue and site is now running under Django 1.5.4 and all of the other packages updated to their latest versions.

[2013-10-07 06:32] #156 closed, assigned to nobody

[2013-10-07 06:32] #147 closed, assigned to nobody

[2013-10-07 06:36] nwinklareth commented on #136
Implemented and committed on Oct 4th.

[2013-10-07 06:36] #136 closed, assigned to nobody

[2013-10-09 17:06] bepetersn opened #164 "date_updated"
When I look at the json data coming from the API, it would be nice to see the date when it was last updated in the meta section. I haven't thought through what this would mean...

[2013-10-23 04:53] nwinklareth commented on #164
Basically, you want the scraper to log when it updated the system, Good idea. Write a story for it. Note that in the 2.0 version we do not have meta-data, do we need it don't know. Still I think it should be discussed, so what are the arguments for having meta-data delivered as part of a response, especially as I have never used it in using the 1.0 API?

[2013-10-23 04:55] nwinklareth commented on #118
I think that this should be done for summarized data views only. The raw data entries should retain this information, in case someone wants to do an analysis at some later date on the use of these categories.

[2013-11-04 16:42] fgregg commented on #96
What's the status of this?

[2013-11-04 16:43] fgregg commented on #115
What's the status of this?

[2013-11-04 16:48] fgregg commented on #53
Here you go: http://www.cookcountycourt.org/ABOUTTHECOURT/JudgesInformation.aspx

[2013-11-04 16:49] fgregg commented on #26
This http://www4.cookcountysheriff.org/default1.asp?

[2013-11-04 17:27] bepetersn commented on #96
The 'in-jail' field is associated with a HousingLocation object. There are currently 6434 housing locations that we know about; their uniqueness is not necessarily guaranteed (I don't know enough right now to say more). At any rate, of these, only 29 locations have non-null values. Of these, all of them have the 'in_jail' field set to False. Here's a list of these:

15-EM
15-LV
17-SFFP
15-EMAW
15-

[2013-11-04 17:31] eads commented on #96
How will this be handled in 2.0?

On Mon, Nov 4, 2013 at 11:27 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for life and see where

[2013-11-04 17:48] fgregg commented on #96
Thanks! How does this relate to the the housing location parser? What would
we need to know about housing locations to set 'in_jail' to true?

https://github.com/sc3/cookcountyjail/issues/42

On Mon, Nov 4, 2013 at 11:31 AM, David Eads notifications@github.comwrote:

##

773.888.2718
2231 N. Monticello Ave
Chicago, IL 60647

[2013-11-04 17:55] bepetersn commented on #96
@eads :

Well, I am having a very difficult time right now querying the API (even as helpful as tastypie is) so I can see just the people that are located in-jail vs. out. The null field makes it difficult. For this reason if not for simple common sense, I'd prefer to discriminate much more, calling most locations True, unless we have reason to question this.

The larger issue, as I see it, is the

[2013-11-04 18:36] bepetersn commented on #53
Ooh, this is great. If you dig a bit deeper, you get more information about schedules, for example:

http://www.cookcountycourt.org/ABOUTTHECOURT/MunicipalDepartment/ThirdMunicipalDistrictRollingMeadows/CourtroomInformation.aspx

[2013-11-04 22:44] bepetersn commented on #26
This is really interesting. I wish we had more people to collaborate on
this, to help us get this or similar correlation between different data
sets.

On Mon, Nov 4, 2013 at 10:49 AM, Forest Gregg notifications@github.comwrote:

##

Brian Peterson

[2013-11-05 01:36] nwinklareth commented on #26
Hi Forest,

I agree with Brian, very cool and with the hash we can co-relate this with
the their booking.

It would be pretty straight forward to scrape. I fetched a page using this
command:

curl --data "zipcode=60006&zipbutton=Begin%20Search"
http://www4.cookcountysheriff.org/locatesearchresults.asp

there is only one table on that page so extracting the contents would be
easy and the following

[2013-11-05 01:59] fgregg commented on #26
Hi guys,

This may not be the best place to discuss it, but the majority of
location codes are very simple.

Let's take Division I. It says on this page
http://www.cookcountysheriff.org/doc/doc_DivisionsOfJail.html, that
Division I has eight 'blocks' and four floors.

Once you know that, and you look at location numbers, it seems pretty
clear that location "01-A-1-18-2" is in Division I, in the "A

[2013-11-06 20:45] bepetersn commented on #118
I agree with what you say about only collapsing categories for summaries.

[2013-11-06 20:45] #118 closed, assigned to nobody

[2013-11-06 21:34] bepetersn commented on #115
Well, briefly, we plan to do this once we re-implement these features in the 2.0 API. This is still probably months off, however.

[2013-11-06 22:11] bepetersn commented on #99
Has this been fixed, @wilbertom?

[2013-11-07 01:40] bepetersn commented on #26
Hey Forest,

I just wanted to find your above explanation for reference and it took me forever to find it! So I'm going to copy it over to a more related place, at issue #209.

[2013-11-07 01:42] bepetersn opened #209 "Determine way to parse / categorize what housing location strings represent"
@fgregg said:

Hi guys,

This may not be the best place to discuss it, but the majority of
location codes are very simple.

Let's take Division I. It says on this page
http://www.cookcountysheriff.org/doc/doc_DivisionsOfJail.html, that
Division I has eight 'blocks' and four floors.

Once you know that, and you look at location numbers, it seems pretty
clear that location "01-A-1-18-2" is in Divisi

[2013-11-09 16:25] nwinklareth opened #213 "Delete column url from CountyInmate table"
This column consumes over 5MBytes of data and everyday 12K more is added. The information is easily recreated and no ones users the data in the column.

[2013-11-13 07:00] bepetersn opened #216 "Thinking about using the unique id: ambiguity issues"
I'd like to mention an issue relating to the unique id we now generate that I was thinking about.

At the outset, I want to note that the usefulness of these ids is greater the longer we maintain a single system of generating them. As of now, we have about 3 months' scraping worth of unique ids. So if we want to make changes to how we create the ids, we should do it as soon as possible.

Currently

[2013-11-13 14:47] nwinklareth commented on #216
Brian,

You wrote:

Browsing over inmate records as viewable at the Sheriff's inmate locator,
the middle initial is sometimes present.

Did you encounter a case of an inmate who was in there twice, once with the
initial and once without?

I don't have a middle name. I think that for identification purposes that
they would try and capture if the person has a middle, because that does
help to distin

[2013-11-13 20:00] bepetersn commented on #216
If we assume that the data source the inmate locator uses is consistent with **itself** (_it might not be, depending on the mechanism for information gathering / entry_), then that would allow us to be confident that we are always in fact catching returning cases when they happen.

However, I was trying to control for instances where because of the mechanism of information gathering / entry of som

[2013-11-28 18:20] #213 closed, assigned to nobody

[2013-11-29 04:16] nwinklareth opened #229 "Need to make the running of the 2.0 API scraper dependent on successful running of the 1.0"
The Cook County Sheriff's search website was not functioning today, November 28th, 2013. As a result the 1.0 scraper ran very slowly and had not completed when the the 2.0 scraper was launched. This meant that the the 2.0 was fetching incomplete data.

The 2.0 scraper should not run unless the 1.0 scraper has successfully completed fetching information.

[2013-11-29 04:20] nwinklareth opened #230 "The scraper continues to run when the Sheriff's search website is down"
The 1.0 scraper does not detect and halt when the Sheriff's search website is not functioning.

[2013-11-30 22:18] eads opened #232 "Add CORS header to 2.0 API responses"
For now, it can just be:

[code]

[2013-12-01 02:34] #232 closed, assigned to nobody

[2013-12-07 17:03] nwinklareth opened #235 "API 1.0 - Uninitialized variable being referenced in utils.py"
In function, convert_to_date, it references a variable today, which is not set

[2013-12-07 17:31] nwinklareth opened #236 "API 1.0 - HousingHistory field housing_date_discovered should be set to Yesterday not Today"
This field is set by the scraper when it finds that an inmates location has been changed. While it is impossible to correctly determine when this change occurred in all instances that the scrapper runs we know that it could have happened no sooner than yesterday, as the scraper only processes yesterday and days before it. It is for this reason that I would like to change the setting of this value

[2013-12-07 17:33] bepetersn commented on #236
Ick, well that's an off-by-one error. If you're sure about it, you should
fix it.

On Sat, Dec 7, 2013 at 11:31 AM, nwinklareth notifications@github.comwrote:

##

Brian Peterson

[2014-01-11 21:26] nwinklareth opened #243 "Cook County Sherrif's website has add a CAPTCHA on the inmate search page"
This CAPTCHA causes scraper to fail. The current algorithm uses the inmate search page, http://www2.cookcountysheriff.org/search2/, to find out what the Cook County System view of which inmates are in the system.

The detailed prisoner view API, http://www2.cookcountysheriff.org/search2/details.asp?jailnumber=2013-1230156, is not yet guarded by a CAPTCHA.

To fix this, the search algorithm needs t

[2014-01-11 21:32] nwinklareth opened #244 "Change cron job that runs scrapper to run both old site and new site scaper jobs"
Currently the two scrapers are started at different times, the problem is that the new scraper is dependent on the old scraper having run to completion. Sometimes it runs long and the new scraper starts running before it has completed and this means that the processing of the new one results in incorrect data.

[2014-01-12 02:51] #243 closed, assigned to nwinklareth

[2014-01-12 02:54] nwinklareth opened #246 "Scraper should record when it last ran successfully"
This will help with new algorithm to find inmates booked on days when the scraper did not run. This can happen when there are problems with either the scraper program or machine or problems with the Cook County Sherri's website.

[2014-01-12 02:55] #235 closed, assigned to nobody

[2014-01-12 02:56] #236 closed, assigned to nobody

[2014-01-18 17:11] nwinklareth opened #248 "Fetching some inmate records fai with error MulitpleObjectsReturned - get()"
This happens for both Housing History and Court Date. This error is not being caught so the inmates with this problem are unknown. This is occurring in the file check_inmate.py.

To fix, need to catch database error and report inmates with problems and then need to repair database.

[2014-01-18 17:17] nwinklareth opened #249 "Scraper now runs for 7 hours or more"
Since no longer able to use the name search functionality on the Cook County Sheriff's website the scraper takes too long to run. Need a faster scraper to find new, update existing and discharge inmates.

[2014-01-18 17:19] nwinklareth opened #250 "Summary mechanism of V1 Inmate Database takes too long."
Currently around an hour to run. Need to use a faster algorithm.

[2014-02-24 03:36] nwinklareth opened #254 "HousingHistory contains duplicate entries"
In running new scraper found update problems because of duplicate entries in table, so I ran this query:
select p1.id, p2.id, p1.inmate_id, p1.housing_location_id, p1.housing_date_discovered from countyapi_housinghistory p1, countyapi_housinghistory p2 where p1.id < p2.id and p1.inmate_id = p2.inmate_id and p1.housing_location_id = p2.housing_location_id and p1.housing_date_discovered = p2.housing

[2014-02-24 03:37] nwinklareth commented on #254
I deleted the duplicate entries.

[2014-02-24 03:37] #254 closed, assigned to nobody

[2014-02-24 03:56] nwinklareth commented on #249
Fixed this by implementing a concurrent scraper based on gevent library.

[2014-02-24 03:56] #249 closed, assigned to nobody

[2014-02-24 04:50] #244 closed, assigned to nwinklareth

[2014-02-24 04:51] nwinklareth commented on #229
Issue #244 implemented a solution to this.

[2014-02-24 04:51] #229 closed, assigned to nobody

[2014-02-24 04:52] nwinklareth commented on #248
This looks like it was fixed by #254

[2014-02-24 04:52] #248 closed, assigned to nwinklareth

[2014-02-24 05:04] nwinklareth commented on #72
This was implemented first in #243 because of the addition of CAPTCHA on the search form page and then as part of the next generation scraper, #249.

[2014-02-24 05:04] #72 closed, assigned to wilbertom

[2014-02-26 05:11] nwinklareth opened #258 "Need ability to look for missing inmates more efficiently"
From time to time there are problems with the scraper or the Sheriff's website and this causes gaps in inmates in the database. The existing mechanism is slow, this ability should be built using the new concurrent scraper.

[2014-02-26 05:46] nwinklareth opened #260 "Daily scraping should automatically looking for missing inmates"
Since the scraper and the Sheriff's website are both unreliable, the scraper should automatically look for missing inmates in the previous days to yesterday. Perhaps the 5 days before it. I chose 5 to handle holidays when there are less staff at the Sheriff's site.

[2014-02-26 06:19] nwinklareth opened #261 "Scraper needs to handle network and Sheriff's website outages"
Occasionally the scraper is unable to reach the Cook County Sheriff's website or the website is down or is not working properly. When the scraper detects this it should halt its current operation. As to when it resumes is a good question. It really comes down to are there people who come into the system and are in it only for one day?

[2014-02-26 06:39] nwinklareth opened #262 "Scraper needs to automatically check if discharged inmates actually discharged"
Sometimes the Sheriff's website fails to display an known inmate's page which causes the scraper to mark the inmate as being discharged. If the same inmate page was requested later the Sheriff's website would serve it up. The scraper needs to check recently discharged inmates to see if they were indeed discharged. Perhaps looking back 2 or 3 days would be sufficient?

[2014-02-26 23:26] bepetersn commented on #53
Here's some more links to flesh out our understanding:

This is a big-picture view of the County's Court system, an organizational chart as well as a geographical map:
http://www.cookcountycourt.org/ABOUTTHECOURT/OrganizationoftheCircuitCourt.aspx

This is one example of a Municipal District Court's Info Section. There's actually general-purpose information here about how the whole court system is

[2014-02-26 23:35] bepetersn commented on #250
What is the summary mechanism you're referring to here?

[2014-02-26 23:37] bepetersn commented on #230
Is this still an issue with the 2.0 scraper? I know you didn't have time to get to all these bugs, but which ones are still open?

[2014-02-26 23:37] #216 closed, assigned to nobody

[2014-02-26 23:37] bepetersn commented on #230
Can you make a list, or Kanban, or something?

[2014-02-26 23:45] bepetersn commented on #164
I don't know if it's possible with the API we'll be making running on Flask, but the metadata information that I found most useful was that if you entered a specific query on the API, the number of people who met those criteria came up, even when there was a default limit of 100 or 1000 or whatever in place.

This brings up a lot of related issues with how we're making our API that are pretty unse

[2014-02-26 23:46] nwinklareth commented on #250
The one that runs as part of the V1.0 scraper process.

On Wed, Feb 26, 2014 at 5:35 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-02-26 23:48] bepetersn commented on #250
Refresh my memory, then, as i can't recall when we summarize anything with
the 1.0 API. Do you mean the... Prototype summaries @eads added to the
first API?
On Feb 26, 2014 5:46 PM, "nwinklareth" notifications@github.com wrote:

[2014-02-27 00:05] bepetersn commented on #88
The original behavior described by @MMisery still appears to happen.

[2014-02-27 00:45] eads commented on #88
Tastypie just dunnae hae the powah, captain.
On Feb 26, 2014 6:05 PM, "Brian Everett Peterson" notifications@github.com
wrote:

[2014-02-27 00:54] bepetersn commented on #88
Does Flask-Restless? Or some other extant solution?

... You don't have to answer that question.
On Feb 26, 2014 6:45 PM, "David Eads" notifications@github.com wrote:

[2014-02-27 00:59] eads commented on #88
There's a bunch of ways to deal with it. First -- update tastypie, they
have made major improvements.

Tastypie is just so dang handy. But the string encoding kills ya on large
datasets. Norbert had suggested we patch it to drop the encoding step and
just use the right encoding at the db layer. We may have to explore that at
the Trib anyway for our crime site.

[2014-02-27 01:26] nwinklareth commented on #88
Perhaps tastypie has gotten smarter and does not do Unicode encoding
especially given that the database entries are in utf-8

On Wed, Feb 26, 2014 at 6:59 PM, David Eads notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-02-27 01:30] bepetersn commented on #88
Did we make that change? I was going to say I'm perfectly willing to look
into fixing it.
On Feb 26, 2014 7:26 PM, "nwinklareth" notifications@github.com wrote:

[2014-02-27 01:32] nwinklareth commented on #88
I thought that the last time I looked at values from the database they were
utf-8 encoded.

On Wed, Feb 26, 2014 at 7:30 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-02-27 03:58] bepetersn commented on #209
This issue doesn't have a clear aim at the moment. I suppose what it entails is some research on our part, and data analysis. I'm gonna tag it with those things.

If I were going to work on this issue, I would start by querying our 1.0 API for housinglocation: http://cookcountyjail.recoveredfactory.net/api/1.0/housinglocation/?format=json. This shows that there are 6441 locations we know about. If

[2014-02-27 04:01] bepetersn commented on #250
Do we want to use the 1.0 API's summary mechanism anymore? Don't we do a lot of this work with the 2.0 version?

[2014-03-01 20:20] bepetersn commented on #124
Closing in favor of separate tickets. #116, for initiating recidivism tracking itself, is already done.

[2014-03-01 20:22] bepetersn commented on #124
The only other dataset that I know about, which we are directly able to tap is Incident Data, from city data portal.

[2014-03-01 20:22] #124 closed, assigned to nobody

[2014-03-01 20:30] bepetersn commented on #116
This is conditionally done; we need to look at the data we've collected to see if it's actually working, though.

[2014-03-01 20:30] #116 closed, assigned to nobody

[2014-03-01 20:31] bepetersn commented on #99
What is even wrong here?

[2014-03-01 20:38] randy7771026 commented on #116
Issue 124 - Glad to see that this comment and the following discussion made it to the issue level.  What was done?

[2014-03-01 21:36] nwinklareth commented on #116
Brain implemented a Hash using SHA1024 and we store that. This large of a
hash means that the likelihood of collision is very very small. This was
done at end of summer 2013.

Brian also did some preliminary research on recidivism using the hash back
on November 4th. Even in that short period of time he found numerous cases
of recidivism.

Norbert

On Sat, Mar 1, 2014 at 2:38 PM, randy7771026 noti

[2014-03-01 22:18] #258 closed, assigned to nwinklareth

[2014-03-01 23:03] randy7771026 commented on #116
Yes, that was issue 116.  Perhaps issue 124 made it to the wrong project.
 I would think 124 would be for the overview project and then later
determine how to address the issues.  Mahrinah von Schlegel had a project
for victims to enter data which had some difficulties with measuring the
veracity of reports.  Many social sites have a lot of chatter on crime.
 Eventually perhaps there could be some

[2014-03-02 00:13] bepetersn commented on #62
Wow, never knew about this. Does this still happen? I can't even remember if we updated Django for v1.0 API.

[2014-03-02 00:24] bepetersn commented on #67
From what I can see, it's not possible to monitor our web server, or our API if the former is down.

So, the only way to have a full health API is thus to run it on a different server, which is a sort of industry standard from what I have read.

I can't initiate getting a new web server currently, but it ought to be simple to implement these basic functionalities once we have the server set up.

I

[2014-03-02 00:26] bepetersn commented on #91
Should this be subsumed under the SC3 website that @wilbertom is trying to build?

[2014-03-02 00:28] bepetersn commented on #75
Is there still a need to go over our database's contents? I feel sufficiently separated by time from our old data to just say "screw it".

[2014-03-02 00:30] bepetersn commented on #93
Quite a little bit of effort might be made on the server administration side to make our keeping of logs more efficient. @nwinklareth, any specific thoughts?

[2014-03-02 00:32] bepetersn opened #265 "Look into updating django-tastypie for v1.0"
This might be necessary to fix issue #88.

[2014-03-02 00:40] bepetersn commented on #113
I've kind of changed my mind on this. Scraping, parsing,  categorizing, and relating among different charges is a huge project, definitely outside the scope of the present one.

We can start to compile our own little Google spreadsheet, though; in fact, we definitely should, it's a place to start. We should just be conscious that any effort towards this is also effort towards something much bigger

[2014-03-02 02:27] nwinklareth commented on #75
I found that there were bad database entries in HousingHistory. I think that we still need to do a proper data integrity audit.

[2014-03-02 02:27] bepetersn commented on #96
If we want to be any more certain about whether or not a housing location is in jail, the fact is we have to do research and specifically probably ask someone associated with the sheriff's office.

However, where there's no evidence to the contrary, I think it's totally reasonable to assume that a housing location is in jail.

Either way, to belatedly answer @eads and @fgregg, we should develop a

[2014-03-02 02:32] bepetersn commented on #75
I see. Do you mind my asking what data integrity means in this context?  We
have a dataset where something like 7 or 8 times out of 10, we know that
there are large holes / mistakes with it.

For most of this data, it's my understanding that we can't recover or
reproduce it.
On Mar 1, 2014 8:27 PM, "nwinklareth" notifications@github.com wrote:

[2014-03-02 02:56] bepetersn commented on #63
@nwinklareth, is this related to #75 at all?

[2014-03-02 02:59] bepetersn commented on #71
Hm, can anyone explain what this was? Whether it's still important?

[2014-03-02 03:00] bepetersn commented on #60
@eads, was this done? Is it still pertinent?

[2014-03-02 03:25] bepetersn opened #266 "change API name for consistency?"
Hey all, I was just casually reviewing some of the work that was done on our original cookcountyjail API. In doing so, I came across what I think is **a lack of symmetry, if not necessarily a misstep**.

What I realized was that we have accessible via our API, all of the following kinds of objects: courtdates, courtlocations, housinglocations; all of these are accessible, irrespective of what inma

[2014-03-02 03:30] bepetersn commented on #266
Or conversely, maybe we don't want to rely on these related database tables so much? I don't know.

[2014-03-02 03:38] bepetersn commented on #26
Besides this fugitive list, there's also the IDOC Prison Inmate Search, that could be scrape-able:

http://www2.illinois.gov/idoc/Offender/Pages/InmateSearch.aspx

[2014-03-02 03:40] bepetersn commented on #26
There's also the Crime Incident data, if we ever want to try to correlate with that:

https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

[2014-03-02 04:52] nwinklareth commented on #75
For instance in HousingHistory we had duplicate entries for the same
person, same location, same day, that is not supposed to happen. I think
that there is possibly the same problem with court history and both court
locations and housing locations need to be examined to make sure that we do
not have duplicates.

On Sat, Mar 1, 2014 at 8:32 PM, Brian Everett Peterson <
notifications@github.com> wro

[2014-03-02 04:53] nwinklareth commented on #63
Yes.

On Sat, Mar 1, 2014 at 8:56 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-02 04:56] nwinklareth commented on #71
This was related to #70, which was closed sometime ago, I also ran a search for missing inmates last summer which addressed this, it also is related to how the new scraper looks for new inmates and has a sliding window that it searches for inmates that were not picked up in the first.

I am closing this as it has been done.

[2014-03-02 04:56] #71 closed, assigned to wilbertom

[2014-03-02 04:59] nwinklareth commented on #266
No, the charges/citations need their own table as we keep repeating the
information which is a bad DB practice. In the V2.0 logical model they have
their own separate schema.

On Sat, Mar 1, 2014 at 9:30 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-02 05:00] nwinklareth commented on #26
This is one that a lot of people ask for.

On Sat, Mar 1, 2014 at 9:40 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-02 05:01] bepetersn commented on #266
Well, how about a court history API?
On Mar 1, 2014 10:59 PM, "nwinklareth" notifications@github.com wrote:

[2014-03-02 05:07] nwinklareth commented on #266
Yes that is in there as well. Isn't it the current v1.0 API?

On Sat, Mar 1, 2014 at 11:01 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-02 05:12] bepetersn commented on #266
No, it's actually not. At least not at the level of a separate API, though
it might be if you pass the related param to the inmate API; I'd have to
check if it is there as a database table.
On Mar 1, 2014 11:07 PM, "nwinklareth" notifications@github.com wrote:

[2014-03-02 05:13] bepetersn commented on #266
Also, this might well be a good place to bring it up: do we need a court
date API / table at all? Dates are something that go on and on forever, and
are better thought of us as numbers in a sequence than as unique objects
that just grow and grow our database.

It might be different if we had interesting information to associate with
the court date, like... well, a judge. See issue #53 for that.
On

[2014-03-02 05:16] nwinklareth commented on #266
CourtDate is the court history table.

On Sat, Mar 1, 2014 at 11:13 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-02 07:20] bepetersn commented on #266
I see. I had to take a glance at all of these APIs to make sure I
understood. So all of the "history" objects are actually single couplings
between an inmate and another object. In other words, they are not
"histories" per se, they are elements of a history that that inmate can be
said to have in relation to the entire collection of objects from a given
table (charge, court, or housing) with which

[2014-03-02 07:36] bepetersn commented on #113
Here are my thoughts with regard to the work we have to do and the decisions we have to make. Consider that I think we want to categorize / parse these charges, with the goal being to end up with a list of all possible charges that we know about for our database. (We are currently missing a separate "charges" API for v1.0, like the "housinglocation" or "courtlocation" APIs; see issue #266).

Given

[2014-03-02 07:51] bepetersn commented on #26
Yeah, crime data is pretty far from being helpful, unfortunately, if someone like you or I looks at it with an eye towards incorporating it into one of our projects. It's stripped of most information that we can directly tie to any case, such that we can only look at aggregates.

One thing they give you is the block of a crime, for instance, but unfortunately our jail data is decidedly difficult t

[2014-03-02 08:00] bepetersn commented on #113
Hey, I just had yet another thought for this thread. I was reflecting on how to tie our jail data to other datasets (See issue #26), and I bothered to actually look at one--the Crime Incident data released by the city. I hadn't thought to find anything particularly germane, but it just occurred to me that trying to integrate our own representation of charges data with the Incident Data's represent

[2014-03-02 08:12] bepetersn commented on #53
This is one answer to issue #26, specifically with regard to court, judge, and geodata.

[2014-03-02 08:18] bepetersn commented on #209
This is housing's answer to issue #26.

[2014-03-02 08:19] bepetersn commented on #266
So then, the "asymmetry" I mentioned is really just in charges, and we're going to fix that in the v2.0 API, I guess.

[2014-03-02 08:28] bepetersn opened #267 "create new "charges" API with v2.0"
See issue #113 for some implementation ideas.

[2014-03-02 08:30] bepetersn commented on #266
See issue #267 for getting this whole thing fixed, it could be awhile off still, but it's the API endpoint I most want to create.

[2014-03-02 08:38] bepetersn commented on #246
Are issue #164 and this one the same thing?

[2014-03-02 08:42] bepetersn commented on #138
I've made v2.0 API a new milestone for this project. Should we maybe pull these resources out into one of our github pages / eventually our website, and close this issue?

[2014-03-02 09:03] bepetersn opened #268 "add .travis.yml file"
In case someone else wants to get at it before I do:

[how-to guide] http://docs.travis-ci.com/user/languages/python/

[2014-03-02 23:05] nwinklareth opened #271 "V2.0 API calls should return meta information"
This is a placeholder request. While there is a generic set of meta-information, there is an expectation that some of the individual API will have their own unique meta-information and this should be capture in separate issues.

A preliminary discussion on the need for this functionality occurred in issue #164. The update date which was the genius of 164 will be provided when #246, the scraper rec

[2014-03-02 23:10] nwinklareth commented on #164
Whether this meta-information is displayed or not, and what content is displayed or not is not dependent on implementation choices, it is strictly dependent on whether we choose to implement it or not and what we specify we want displayed.

I have opened #271 specifically to add meta-data information to 2.0 API. Additionally the update_date is dependent on #246 and I am closing this one.

[2014-03-02 23:10] #164 closed, assigned to nobody

[2014-03-02 23:13] nwinklareth opened #272 "New Scraper should povide metrics on its performance"
These metrics should be both after the fact and should also be in real-time.

[2014-03-02 23:21] nwinklareth commented on #67
There are number of types of monitoring required:

1) Should be a /dashboard that displays information on how the webserver has performed
2) If the webserver goes down then it needs to be restarted
3) Performance monitoring of webserver, detects poor performance and has it or server machine restarted
4) server machine monitoring, signals someone if server machine is no longer responding

The first

[2014-03-02 23:27] nwinklareth commented on #93
As part of new scraper, I added log rolling of cron jobs. Still need to add log file pruning.

And yes we should do more on the administration of logs and in fact a number of things on the server machine.

[2014-03-02 23:28] nwinklareth opened #273 "Website and API usage report"
Displays information on frequency of use, who uses it, etc.

[2014-03-02 23:32] nwinklareth opened #274 "Document new scraper"
This is primarily for the new concurrent scraper.

[2014-03-05 03:06] nwinklareth commented on #261
This is covered by issue #230

[2014-03-05 03:06] #261 closed, assigned to nobody

[2014-03-05 03:07] #262 closed, assigned to nwinklareth

[2014-03-05 03:07] #260 closed, assigned to nwinklareth

[2014-03-05 03:09] nwinklareth opened #277 "Add unit tests for the housing, charges and court location code in the scraper"
This code runs, apparently correctly, yet there are no tests that it does so. This lack of tests makes it hard to make changes to the code.

[2014-03-05 03:11] nwinklareth opened #278 "Clean up the V1.0 API commands"
There are a number of commands that are no longer needed, and some of them should not be run again. So they should be removed.

[2014-03-07 19:36] bepetersn commented on #267
I would kind of like for this to be the first API we implement as part of 2.0, as it would be completely new.

That's just me; obviously whoever starts building gets the say.

[2014-03-07 20:01] bepetersn commented on #96
This issue has been fixed, by someone. Probably by @nwinklareth, if I had to guess, since he's been doing most of the work on this project lately. But very few housing locations have the in_jail field set to null any more. Most are true. 64 are false. I almost feel like doing a `git bisect` to figure out when / by whom this was changed. But it's probably not worth it.

[2014-03-07 20:02] #96 closed, assigned to nobody

[2014-03-07 22:03] eads commented on #96
You can use git blame to get the history of a line.

On Fri, Mar 7, 2014 at 2:02 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for l

[2014-03-09 06:59] #278 closed, assigned to nobody

[2014-03-09 07:02] bepetersn commented on #278
Did you know that you can close issues automatically if you say, in the
commit message, "fixed" (or done equivalents) and include a reference to
the issue #?

Just a quick fact.
On Mar 9, 2014 12:59 AM, "nwinklareth" notifications@github.com wrote:

[2014-03-09 07:31] nwinklareth commented on #278
No I did not know that. Thanks will do so in future commits.

On Sun, Mar 9, 2014 at 1:02 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-10 00:23] nwinklareth opened #280 "V2.0 Inmate Summary should display in_jail stats"
Inmates in the Jail system can be incarcerated, meaning that they housed in a Cook County Jail building or they are not as they may be out on a bond or in an electronic monitoring program or in drug rehabilitation program. The HousingLocation Model has the in_jail field which indicates if the location is jail housing location if set to True or if set of False indicates that the inmate is not house

[2014-03-10 00:38] nwinklareth commented on #280
Proposed total population in_jail fields are:
- in_jail - total population, men and women
- females_in_jail - total population, females
- females_in_jail_as - total population, females Asian
- females_in_jail_bk - total population, females Black
- females_in_jail_in - total population, females Indian
- females_in_jail_lt - total population, females Latino
- females_in_jail_un - total population, f

[2014-03-10 00:47] nwinklareth commented on #280
Proposed fields to track booked inmates who are put into jail:
- booked_in_jail - total inmates booked that are in jail, men and women
- females_booked_in_jail - total inmates booked that are in jail, females
- females_booked_in_jail_as - total inmates booked that are in jail, females Asian
- females_booked_in_jail_bk - total inmates booked that are in jail, females Black
- females_booked_in_jail_

[2014-03-10 00:49] nwinklareth commented on #280
Proposed fields to track inmates who left who were housed in the jail:
- left_in_jail - total inmates who left that were in jail, men and women
- females_left_in_jail - total inmates who left that were in jail, females
- females_left_in_jail_as - total inmates who left that were in jail, females Asian
- females_left_in_jail_bk - total inmates who left that were in jail, females Black
- females_lef

[2014-03-10 01:05] nwinklareth commented on #280
Proposed fields to track inmates who were transferred to in jail housing:
- transferred_to_in_jail - total inmates who were transferred to in jail, men and women
- females_transferred_to_in_jail - total inmates who were transferred to in jail, females
- females_transferred_to_in_jail_as - total inmates who were transferred to in jail, females Asian
- females_transferred_to_in_jail_bk - total inmat

[2014-03-10 01:07] nwinklareth commented on #280
Proposed fields to track inmates who are still in jail system and transferred out of in jail housing:
- transferred_out_of_in_jail - total inmates who were transferred out of in jail, men and women
- females_transferred_out_of_in_jail - total inmates who were transferred out of in jail, females
- females_transferred_out_of_in_jail_as - total inmates who were transferred out of in jail, females Asi

[2014-03-10 01:14] nwinklareth commented on #280
To accurately track movement of inmates in and out of being housed by the Cook County Jail requires 65 new fields to be added. These fields are easy to populate, the question is adding this to the existing 50 or so fields too much?

Should these new fields be put into their own models? The way to connect them to the existing information is through the date field. Just fetch and then link them up a

[2014-03-10 01:49] bepetersn commented on #280
Hey Norbert,

This is definitely a great idea to track "in_jail". My initial inclination
is that people outside jail are less interesting, and that we could simply
bound the issue by saying how many are in_jail vs out_of_jail. That may not
be clear.

I suppose it isn't true, necessarily, that the in_jail population is less
interesting. But at the least, we might ignore accounting for transfers. If

[2014-03-10 01:59] nwinklareth commented on #280
Yes we can just do the macro level tracking, however if someone wanted to
know what accounted for the fluctuations they would not be able to answer
that easily without the additional fields which is why I am asking for
feedback.

On Sun, Mar 9, 2014 at 8:49 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-10 02:24] randy7771026 commented on #280
I suppose it is too much to ask and has likely already been addressed but is there a way to know when a person comes into the jail if they are transfered from house arrest, halfway houses, federal, state or out of state prison as opposed to arrest?  Same thought again but when they leave the jail?

[2014-03-10 04:13] nwinklareth commented on #280
Randy,

If we have access to the data sources that identify a person then we can
track arrivals and departures. We know that that is possible for inmates
who are convicted of state/local felonies as they are transferred to the
state prison. We just need to start scraping the state penal site - a
spring project perhaps. I have not heard of any data sources for halfway
houses. House arrest is the el

[2014-03-12 11:22] wilbertom commented on #274
How are we documenting. Just a wiki or file comments?

[2014-03-14 15:21] wilbertom opened #282 "Error on migration #21 "set_in_jail_housing_location""
[code]

[2014-03-16 19:04] nwinklareth opened #283 "In the Scraper change Inmates calls that fetch data from the DB to use callbacks"
Currently the values fetched from the database by the class _Inmates_ are returned to the caller via a passed in queue mechanism. This exposes the implementation mechanism too much. A cleaner and more future friendly approach would be to use a callback mechanism. The caller would pass in the callback instead of the queue. The callee once the processing is completed would invoke this function with

[2014-03-16 19:30] nwinklareth commented on #75
I think that Wilberto's initial point has been dealt with and so I am closing this issue. There are however some issues with the database that should be addressed and that should be done by creating new issues that address these ones individually.

[2014-03-16 19:30] #75 closed, assigned to nobody

[2014-03-16 19:44] nwinklareth opened #284 "Audit the contents of the database against the Sheriff's View"
An audit should be conducted of how successful the improvements that have been made to both the content of the database and how the content is being updated are.

To do this audit will require the following:
- manually fetching 26 pages from the sheriff's website, one for each letter of the alphabet
  - this should be done right after the scraper has successfully finished its run for that day
- wr

[2014-03-19 01:29] bepetersn commented on #265
It seems django-tastypie is currently at version 10.0, I think this was updated somewhat recently. The very latest version of tastypie is 11.1.

[2014-03-19 02:16] bepetersn commented on #274
Is this done satisfactorily, then? I suppose we're waiting on more commentary.

[2014-03-19 04:00] nwinklareth commented on #274
Is it satisfactory, only reviewers can answer that which is why I asked that the documentation be reviewed and based on the feedback I'll add more if needed.

[2014-03-22 16:58] bepetersn commented on #113
@eads, how do you think we can convert our charges data into "Primary Type" data, compatible with the Crime Incident Report data?

[2014-03-22 17:00] eads commented on #113
Lets talk about this today.

Categorization is not beyond the scope of our project. In fact it's really
important.
On Mar 22, 2014 11:58 AM, "Brian Everett Peterson" notifications@github.com
wrote:

[2014-03-22 19:35] bepetersn commented on #113
LIst of "primary types" of crimes, with number of them commited: https://data.cityofchicago.org/Public-Safety/Summary-by-Primary-Type/yvjw-hzem

[2014-03-22 19:36] nwinklareth opened #285 "Parsing errors in response page crashes gevent"
The Sheriff's website is undergoing construction and as a result web pages are returned with a status of 200, however they do not have the structure of the expected page and so parsing fails, thrown an exception which is not caught and which crashes the gevent.

[2014-03-22 20:21] #285 closed, assigned to nwinklareth

[2014-03-23 02:17] nwinklareth opened #288 "Add in_jail field to CountyInmate model"
To help meet the needs of the V2.0 API summary of Inmate Population changes, need an easy way to determine how many inmates are in jail. To accomplish this, add in_jail field to the CountyInmate model that is updated as the inmate location changes.

[2014-03-23 03:21] #288 closed, assigned to nwinklareth

[2014-03-25 05:23] nwinklareth opened #296 "CCJ Database corrupted by issue #285"
Entries from booking date of March 17th moving forward were corrupted by error reported in #285.

The fix is to restore the database from the dump made on the 19th and tomorrow's scraper run will fill in the missing entries.

[2014-03-25 05:25] bepetersn commented on #296
So there were changes made to the page structure of the website? It looked similar, but I didn't check the HTML.

[2014-03-25 05:45] bepetersn commented on #282
I can confirm this error, running from a clean repo and clean environment (excluding stuff I didn't think of, like my OS).

[2014-03-25 06:36] bepetersn commented on #282
Reproduced this error outside the context of a migration, by running the basic code that the migration file itself contains in a shell:

![screenshot from 2014-03-25 01 32 16](https://f.cloud.github.com/assets/1389463/2508995/a8d5b4f6-b3e7-11e3-802e-daba22a12a0c.png)

Still trying to parse out what this may imply.

[2014-03-25 06:45] bepetersn commented on #282
So, it appears that the "HousingLocation matching query", which is being run in this migration, and which is causing this `DoesNotExist` error is in fact just this -- the list of _not in jail_ categories is being run in a get request against an empty database.

Perhaps this is the canonical Migration error, one which South is supposed to resolve. I'm now curious to do some research into what **exa

[2014-03-25 06:58] bepetersn commented on #274
I edited the intro paragraphs. But I think the majority of the content is good.

[2014-03-25 07:01] bepetersn commented on #268
Got the .travis.yml file up for the master branch, and added a bit about it to the README. It was also requested that we add a travis config for the 2.0-dev branch

[2014-03-25 07:07] bepetersn commented on #230
It seems like you've taken at least one good step towards catching when the Sheriff's site is down, @nwinklareth

[2014-03-25 07:07] bepetersn commented on #230
Would you say that's so?

[2014-03-25 07:47] #268 closed, assigned to bepetersn

[2014-03-25 07:53] bepetersn opened #298 "write (or locate) a simple script that fails if not py3 compatible, to be run on travis build"
I'm sure something exactly like this has been done before. My guess is that it's so simple that it hasn't been packaged, and so we might just put it together in a script ourselves. Might be worth researching to see if someone has done so still.

Specifically, I am looking to create a script to exit with a non-zero exit code if not python 3 compatible. I thought immediately of using python -3, but

[2014-03-25 07:56] bepetersn opened #299 "changing reqs.txt location likely broke some of our fab commands"
This should really be documented somewhere...

[2014-03-25 08:11] bepetersn commented on #282
Ah, so here we have the fundamental issue. If I HAD a populated database, I'd have these housing location objects in it, and therefore this migration would probably succeed, from what I can tell. But given that I don't have a populated database, I can't migrate my tables to match the version of the database tables that we're now using. This then leads to problems loading a copy of the database ont

[2014-03-25 20:15] bepetersn commented on #282
By commenting out the section of the code that was causing an error in countyapi/migrations/0021_set_in_jail_housing_location.py, I was able to complete my migrations, and then load the database.

This code is as follows:

[code]

I believe this section of code, which is clearly supposed to set the in_jail field on our housing_location objects may not be necessary, and we could just get rid of it.

[2014-03-25 21:23] bepetersn opened #302 "failure to import scraper code when running tests in a certain way"
For documentation's sake, I'm writing this out, @nwinklareth. Confirmed: from a clean repo, clean virtualenv, on Debian Linux 7, running `py.test`, which ought to execute our testsuite, sometimes fails with strange import errors.

This also happens on our [travis build](https://travis-ci.org/sc3/cookcountyjail/builds/21349471). For ease of reference, I have included a link to that failed build, wh

[2014-03-25 21:25] bepetersn commented on #302
As @nwinklareth pointed out, this doesn't happen if you make the very simple change of running `python -m py.test` instead of just `py.test`. We have made this change in the Travis build, and I made a recommendation on how to test in the README. Still, it'd be nice to clear up why this is happening.

[2014-03-25 22:48] bepetersn commented on #282
I wonder if we're using South correctly. Lots of these migrations are doing things that, with an empty database, do nothing. Plenty of them, unlike this 21st migration, just loop over all existing entries in the database--which doesn't fail with an empty database, just does nothing, as long as the sql table exists.

But it begs the question of whether or not most of them need the auto-generated co

[2014-03-26 01:04] nwinklareth commented on #282
You do not have to do the migration to load the database, you just need to
initialize the schema.

That code was part of the data migration I did to get that field set. I
think that the way I wrote it is wrong, it does not properly protect itself
against the current definition of the field.

Commenting it out is fine.

Norbert

On Tue, Mar 25, 2014 at 3:15 PM, Brian Everett Peterson <
notification

[2014-03-26 01:12] bepetersn commented on #282
Yes, initializing the schema, that is exactly what I meant. The migration
itself is just the running of a python file containing so much code. Part
of it is the code I am taking about commenting out, which is an iteration
over the data. The other part is a redefinition of the database models, the
schema.

Anyway, I will go ahead the merge.
On Mar 25, 2014 8:04 PM, "nwinklareth" notifications@githu

[2014-03-26 01:14] #282 closed, assigned to nobody

[2014-03-28 05:44] bepetersn opened #303 "add unit tests for Inmate class"
This code runs, apparently correctly, yet there are no tests that it does so. This lack of tests makes it hard to make changes to the code.

[2014-03-29 02:38] bepetersn opened #304 "add unit tests for Charges class"
This code runs, apparently correctly, yet there are no tests that it does so. This lack of tests makes it hard to make changes to the code.

Opened in favor of #277.

[2014-03-29 02:38] bepetersn opened #305 "add unit tests for HousingLocationInfo class"
This code runs, apparently correctly, yet there are no tests that it does so. This lack of tests makes it hard to make changes to the code.

Opened in favor of #277.

[2014-03-29 02:39] bepetersn opened #306 "add unit tests for CourtLocationInfo class"
This code runs, apparently correctly, yet there are no tests that it does so. This lack of tests makes it hard to make changes to the code.

Opened in favor of #277.

[2014-03-29 02:54] bepetersn commented on #277
Closed in favor of #304, #305, #306.

[2014-03-29 02:54] #277 closed, assigned to bepetersn

[2014-03-29 02:55] bepetersn commented on #303
Adding unit tests to the other three parsing classes before trying to document this one will probably be easiest.

[2014-03-30 01:39] nwinklareth commented on #280
In trying to implement this today I was stymied by how efficiently calculate in_jail status. I finally realized that given the restricted initial form calculating the what had changed incrementally required the following:
- list of discharged prisoners, their in_jail state is subtracted from the previous total
- list of newly booked prisoners, their in_jail state is added to the previous total
- l

[2014-03-30 02:03] bepetersn opened #308 "inmate in_jail field is continuously set incorrectly by scraper"
Going over a more interesting subset of housing locations, 15-EMAW, for people AWOL from Electronic Monitoring, I found a good proportion of inmates have their in_jail field set apparently incorrectly compared to their housing history. Here's an example of that:

![screenshot from 2014-03-28 06 43 09](https://cloud.githubusercontent.com/assets/1389463/2560184/ece42e5a-b7ae-11e3-816f-321678bd017c.p

[2014-03-30 02:09] bepetersn opened #309 "inmate in_jail field is currently not filterable with Tastypie"
This is actually also the case with the housing_history__in_jail field. What this looks like:

![screenshot from 2014-03-29 21 05 19](https://cloud.githubusercontent.com/assets/1389463/2560197/23c54ec6-b7b0-11e3-85d3-6d4163750773.png)

This just requires changing some settings, probably with Tastypie, I just don't know what specifically they are at this moment.

[2014-03-30 04:26] nwinklareth commented on #308
Are you arguing that either one of those should be true? If so which one
and why?

On Sat, Mar 29, 2014 at 9:03 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-03-30 05:02] bepetersn commented on #308
In the above example, in_jail _on the inmate_ should be set to false if the person's housing location is false. But it is in fact set to true.

That's what I was referring to.

[2014-03-30 05:03] bepetersn commented on #308
The inmate's in_jail field has to match their latest housing_location.

[2014-03-30 12:30] randy7771026 commented on #280
Used to be a doubly linked list would allow for the searching so maybe you
want to go back to a hierarchical thought process and algorithm until you
get really used to the data and the human representation.

On Sat, Mar 29, 2014 at 8:39 PM, nwinklareth notifications@github.comwrote:

[2014-03-30 17:10] nwinklareth commented on #308
The cause of this mismatch happened with the database restore that happened after the data 0024 migration. That data migration, which set the inmate, in_jail, field to the correct state, needed to be run again.

[2014-03-30 20:23] nwinklareth commented on #308
Running the audit found the following:
(cookcountyjail)ubuntu@ip-10-190-110-43:~/apps/cookcountyjail$ ./manage.py audit_db
Starting database audit: 2014-03-30 14:45:26.197862
Number inmates checked: 87512
Number inmates with incorrect 'in_jail' values: 3352
Audit took 0:01:08.005206.

After the data migration to correct the in_jail values, running the audit gave these results:
(cookcountyjail)ubun

[2014-03-30 20:25] nwinklareth opened #314 "Running the Database Audit program should be added to daily scraper job"
After website scraping has run, the database should be audited and if there is a problem a notification should be sent out.

[2014-03-30 20:27] bepetersn commented on #308
That's excellent!! Nice work, Norbert.
On Mar 30, 2014 3:23 PM, "nwinklareth" notifications@github.com wrote:

[2014-03-31 08:37] #304 closed, assigned to nobody

[2014-04-02 08:48] bepetersn commented on #314
Norbert has pointed out the possibility of using Amazon's SES platform for sending out notification emails from our server: http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html

[2014-04-02 09:04] bepetersn commented on #314
I'm also considering Amazon's Simple Notification Service. It seems like it could fit our use case better:

http://docs.aws.amazon.com/sns/latest/dg/welcome.html

[2014-04-02 09:37] bepetersn commented on #314
I managed to be able to send myself an email from the server through Amazon, using `sendmail` on the server. However, it was rather annoying to configure Linux and this particular mail client. The only thing that really made it possible was that there are  [instructions in Amazon's docs](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sendmail.html) on how to configure `sendmail`, specificall

[2014-04-02 09:42] bepetersn commented on #284
So which aspect of the scraper are you really doubting here? Or just the thing as a whole?

[2014-04-02 09:43] bepetersn commented on #296
Is this fixed now, because we're looking at past days in our passes on the sheriff's site?

[2014-04-02 09:54] bepetersn commented on #308
I just ran this command again tonight, and found:

"Starting database audit: 2014-04-02 04:49:41.173672
Number inmates checked: 87878
Number inmates with incorrect 'in_jail' values: 52
Audit took 0:01:09.488053."

The in_jail field seems to be continually diverging! Or am I misinterpreting this?

[2014-04-02 10:37] #309 closed, assigned to nobody

[2014-04-02 10:42] bepetersn commented on #299
On second thought, perhaps it did not. I just successfully completed a build using the commands we had setup, `fab production master deploy`.

Thoughts, @nwinklareth?

[2014-04-02 14:32] nwinklareth commented on #284
I see it as sanity test of the entire process.

On Wed, Apr 2, 2014 at 4:42 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-04-02 14:33] nwinklareth commented on #299
I fixed the fab file.

On Wed, Apr 2, 2014 at 5:42 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-04-02 19:12] bepetersn commented on #299
Oh, you already did? So I can close this?

[2014-04-02 19:18] nwinklareth commented on #299
Yes, please.

Norbert
On Apr 2, 2014 2:12 PM, "Brian Everett Peterson" notifications@github.com
wrote:

[2014-04-02 19:22] #299 closed, assigned to nobody

[2014-04-02 20:00] bepetersn commented on #62
We did update Django to 1.6, I believe. I don't think we even use the resource URIs for anything at this point, however, so this may be a non-issue.

[2014-04-02 21:25] bepetersn opened #317 "create database documentation for present information model"
As underlies the whole idea of TDD, it's time-consuming but ultimately worth it to document anything before attempting to change it. We should do this with our current information model. Part of this work is done with the 1.0 API documentation (which is incomplete), but we can go further in documenting our database itself.

from https://www.simple-talk.com/sql/database-administration/ten-common-da

[2014-04-02 21:26] bepetersn commented on #284
Fair enough.

[2014-04-02 22:18] bepetersn commented on #308
Last night, I got the database back to a state with 0 incorrect in_jail values, by re-running the migration you made, @nwinklareth. I ran audit_db again today (one scrape later), and found:

Assuming the auditing program is correct (I was looking over it, and I only had a few lines where I was scratching my head), it seems like the scraper isn't setting the in_jail values correctly.

[2014-04-03 09:24] bepetersn opened #318 "document fabric commands for testing, deploying, etc."

[2014-04-03 21:41] bepetersn commented on #209
@fgregg, I am pretty sure that "18-2" means cell 18, bed 2. The last number is almost always 1 or 2.

[2014-04-03 21:42] fgregg commented on #209
Interesting!

[2014-04-05 11:14] bepetersn opened #319 "figure out the best way to send email notifications from server"

[2014-04-05 11:15] bepetersn commented on #314
Moving my commentary on sending notifications to issue #319.

[2014-04-05 11:22] bepetersn commented on #319
Seems like the easy, pre-packaged solution to this problem is going to be Amazon's Simple Notification Service ([SNS](http://aws.amazon.com/sns/)). We can send 1000 emails a month this way. More importantly, we can actually set up subscriptions for different notifications from the server! Huzzah!

I've been fiddling with the python code to get this to work, it's not too tough.

[2014-04-05 14:13] bepetersn commented on #319
So, I have the notification aspect totally worked out, and am currently working on using this functionality with the earlier problem we were trying to solve: sending notifications for a bad database audit result.

[2014-04-05 23:55] bepetersn commented on #314
First version of this done.

[2014-04-05 23:55] #314 closed, assigned to nobody

[2014-04-07 07:09] #265 closed, assigned to nobody

[2014-04-07 10:40] #306 closed, assigned to nobody

[2014-04-07 10:47] #274 closed, assigned to nwinklareth

[2014-04-07 10:51] bepetersn commented on #88
Confirmed that all the strings in the DB are utf-8 encoded. I've just updated tastypie to the very latest version, we were only behind a little bit, and their changes for the last iteration don't mention anything having to do with unicode or performance from what I can tell.

Going off of what @eads said awhile back regarding django-tastypie and unicode, I'm gonna browse their code a bit and see w

[2014-04-07 18:57] bepetersn opened #325 "if a new charge gets found that has the same but less information, ignore it?"
For instance, consider this charges history. It's almost silly that multiple charges are listed. The earliest one is the same as the third and last one. The only reason this gets listed twice is because with the second charge, the "charges" field got taken down, which is the optional commentary. But for all three of them, the "charges_citation" field is exactly the same.

![screenshot from 2014-04

[2014-04-07 20:35] bepetersn commented on #325
I think this happens a lot. Here's another example, with the same charge being added, emptied, and re-added over and over:

![screenshot from 2014-04-07 15 31 36](https://cloud.githubusercontent.com/assets/1389463/2636654/0871251a-be94-11e3-8531-456cd320573c.png)

[2014-04-07 22:41] bepetersn commented on #266
@nwinklareth, @eads, what do you think about changing the name of the "courtdate" API to "courthistory", for symmetry's sake. The first part of good documentation is good naming, and consistency is arguably the most important part of that.

[2014-04-08 02:32] bepetersn commented on #115
I'm thinking we should call it "courthouse" instead. That's what the CCSO calls them. In order to get this done, at least these things are needed simultaneously:
- an updated courtlocation model
- a new courthouse model
- update v1 API to show new endpoint
- update v1 API to have correct relations among endpoints
- a full-scale DB audit / data migration to convert courtlocation to using courthouse

[2014-04-08 03:18] nwinklareth commented on #115
Given all of this work, why not just work on implementing V2.0 API rather
then do this twice?

On Mon, Apr 7, 2014 at 9:32 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-04-08 03:23] bepetersn commented on #115
That's a good point...

[2014-04-08 17:23] nwinklareth opened #327 "Database audit notification fails when invoked in a certain way"
The error message is: python: can't open file 'scripts/notify.py': [Errno 2] No such file or directory

This is a path problem. The script is not running in /home/ubuntu/apps/cookcountyjail, which is the assumption made in the script. Check line 14 for an example of how to solve this defect.

[2014-04-10 07:11] bepetersn commented on #302
This is related to [PEP 366](http://legacy.python.org/dev/peps/pep-0366/), I believe.

[2014-04-10 22:12] bepetersn commented on #325
or @eads or @wilbertom ... need feedback on this eventually!

[2014-04-10 22:20] bepetersn commented on #103
Can you elaborate on some of the things we need to document about our runtime config, @nwinklareth?

[2014-04-10 22:25] bepetersn opened #330 "Implement a better mechanism to respond if DB audit fails"
We need to get in place a better mechanism to handle results of DB audit, as there are multiple problems with our current approach. The most obvious is that it isn't working, currently. But we also need to consider things like concurrency, and a reusable interface for initiating other notifications. @nwinklareth had some ideas about this, I think. One of them was to generate a certain file on fail

[2014-04-10 22:26] bepetersn commented on #319
Reopening because I think it might make more sense to do this with the command line tool `s3cmd` instead of the `boto` library, to work with @nwinklareth's desire to use tools available from the Bash CLI.

[2014-04-10 22:49] nwinklareth commented on #327
Brian, this has not been fixed. Please leave it open.

[2014-04-10 22:51] nwinklareth commented on #327
The first symptom was the that the file could not be found, once found it did not run so notification is not occurring. We could close this one and open another one, don't see the point in that.

[2014-04-10 23:58] bepetersn commented on #327
I honestly don't know what the problem with this is, so for the purpose of better understanding, we can leave it open. At the moment, I have just commented out the notifiying section of the scraper.sh.

I opened another issue, #330, because it seemed like we weren't interested in solving this problem this way anymore. Did I misinterpret you in that regard?

[2014-04-11 05:52] bepetersn opened #331 "move all static files on server into our github repo"
W'ere missing the "api.html" file.  We need to keep better track of these things.

Also extend the build sequence that automatically updates the correct files on the server if the github repo changes. See the current `fabfile.py` for an idea of how this might be done.

[2014-04-11 08:22] bepetersn commented on #67
Do we still have an interest in keeping track of server queries, like @wilbertom originally suggested with this issue? I guess the idea would be that we could keep track of what requests people are trying to make on our site?

[2014-04-11 09:29] bepetersn opened #332 "make an AdminTasks API and corresponding model with v2.0"
The problem this would solve is the monitoring of our server, #67. By creating an API, to which our administrative tasks can POST their results, we will be setting ourselves up to create a dashboard interface, if desired. Listing all admin tasks, as opposed to keeping a running status of the project's status, allows us to focus on the events of our server as they happen -- which is typically only

[2014-04-11 09:37] bepetersn opened #333 "Consider replacing the homebrew DB used by DailyPopulationSummary /w pickleDB"
PickleDB is a super simple json-based database solution. They're actually very similar to the database we made ourselves for this model, it's just a little more polished. I believe we can benefit from externalizing the code for it to this other project. Here's their [repo](https://github.com/patx/pickledb), and here's their very brief [docs](https://pythonhosted.org/pickleDB/).

We would need to c

[2014-04-11 10:04] bepetersn commented on #332
What do you think, @nwinklareth? I know you're gonna be away the coming meet ... respond when you have the time.

[2014-04-11 19:32] nwinklareth commented on #332
The word task in field names is redundant.
datetime_started => started_at
summary => description  -- because failure messages are not summaries

I am unsure of the action_required field. I see this database as a a data warehouse as opposed to a task to be done table. What about others?

[2014-04-11 19:35] nwinklareth commented on #327
No when I wrote my message I did not know about #330. So I am closing this one and we will use #330 to get audit notifications to work.

The original symptom identified in this issue has been resolved. In doing so it uncovered another problem which is being addressed by issue #330.

[2014-04-11 19:35] #327 closed, assigned to nobody

[2014-04-11 19:41] nwinklareth commented on #333
I have no problems with this approach. It would also make it easier to
implement the re-writing problem we currently have. I will create an issue
describing the problem before I show up on the 19th.

On Fri, Apr 11, 2014 at 5:37 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-04-12 03:34] bepetersn commented on #332
Thanks for the corrections on fieldnames.

I also see what you're saying with regard to data vs. action-based information. This brings to light one of the last conflicts I had about this way of handling the dashboard, which was, briefly: how can we bring out the event-driven side of this design problem?

Because it is about events, and so this kind of "handling" code really belongs where we're wor

[2014-04-12 03:52] bepetersn commented on #332
I'm still trying to work out exactly what this implies about my whole "adminTasks" API, or the more important part, the ability to track the current status of all our administrative components.

Here's some brief thoughts, as I feel this issue is now very fragmented and needs direction:
- We've talked for awhile about having some part of the scraper always running on the server. I think this is th

[2014-04-12 04:02] bepetersn commented on #67
Reposting this comment of mine from #332. My conclusion there is that we need to look into using a message queue like [python-rq](http://python-rq.org/) for our server / scraper / DB monitoring needs. I go on to say:
- We've talked for awhile about having some part of the scraper always running on the server. I think this is the answer to the need for that "always-on" component.
- We still need an

[2014-04-12 07:49] bepetersn opened #334 "start using tox for running tests"

[2014-04-12 07:50] bepetersn opened #335 "pin dependencies, and use pip-tools"
See:

and

[2014-04-14 11:51] bepetersn commented on #317
Here's my beginning of an attempt at this:

https://docs.google.com/document/d/1PyhbxySwO6akTgfnR3Hb3rfyCVvg1XEu-lqEzwH4Uds/edit

[2014-04-14 12:00] bepetersn opened #336 "Decouple scraper from other administrative tasks"
This is a list of all the types of tasks that need to be done on the server, currently totaling to **19 different kinds of things**; I got this list from compiling all the things we have talked about in the issues, looking at everything the scraper.sh file does currently, plus using my imagination:

https://docs.google.com/document/d/1ep3Kv_F_7xpePbAOwBusMj0aJ_J3qn8qLAeFJA17qCU/edit

All of these

[2014-04-14 14:20] bepetersn commented on #336
This is part of the attempt to do #67.

[2014-04-20 00:33] bepetersn opened #337 "Need a DB clone with a lot more options"
It would be nice to be able to do an update to your local DB, without doing a really long scrape process. Maybe to be able to get just a single table too.

[2014-04-20 02:23] nwinklareth commented on #337
The question is if you want to work locally, do you need the current prison population, to do so?

If you do, then perhaps we should do a specialized database dump of just the active prisoners in the system?

[2014-04-29 08:33] wilbertom opened #338 "Pick restful library"
For version 2.0 are making our own JSON responses. There are multiple flask extensions that make this easier, and we will need their sorting and filtering when we are exposing more data.
1. [Restless](https://flask-restless.readthedocs.org/en/latest/)
2. [Flask API](http://www.flaskapi.org/)
3. [Restful](http://flask-restful.readthedocs.org/en/latest/)

[2014-04-29 08:37] wilbertom opened #339 "OS env info security"
Do you guys think that the `os_env_info` route might be outputting too much information? Maybe we should only allow it during testing.

[2014-05-03 07:43] bepetersn opened #340 "extract queueing details into a concurrent base class"

[2014-05-03 08:06] #340 closed, assigned to nobody

[2014-05-03 09:47] bepetersn opened #343 "move ng_scraper out of django commands"
The intent of this change is to minimize the reliance on Django for all parts of this project. This will require specifying the location of the django settings (see #411), and then changing every in-code use of the command to stop using `python manage.py` and reference the new location of the scraper (see #412).

[2014-05-03 10:59] bepetersn commented on #319
Found this service: [zapier](https://zapier.com).

I think it totally fulfills our needs. Their idea is to hook any set of applications together, but it also works with manual webhooks like POSTing to a URL. I set up a URL to POST to, tested it out, and was able to send myself an email from sc3.issue.notifier@gmail.com, which is an email I set up for the purpose of sending notifications. Should be

[2014-05-03 10:59] #319 closed, assigned to nobody

[2014-05-03 18:48] bepetersn opened #344 "Merge branches"
@wilbertom!

[2014-05-03 19:37] wilbertom opened #345 "Add database migrations to version 2.0 branch"

[2014-05-03 22:37] bepetersn opened #346 "Populate v2 database"
By this I mean, get an initial snapshot of the inmates.

[2014-05-03 22:38] bepetersn opened #347 "Modify scraper to populate a raw database"

[2014-05-03 22:47] wilbertom opened #348 "Create Courtroom model"

[2014-05-03 22:48] wilbertom opened #349 "Create Housing Model"

[2014-05-03 22:48] wilbertom opened #350 "Create CourtBuilding model"

[2014-05-03 22:50] bepetersn opened #351 "Create Charge model"

[2014-05-03 22:51] bepetersn opened #352 "Generate a normalized Charges database to populate model"

[2014-05-03 22:52] wilbertom opened #353 "Create Base Models and Api"
We can working on the first 5 `Base Models` from the information model.

The models should all have database migrations and a API resource.
1. #348
2. #349
3. #350
4. #351

[2014-05-03 22:57] bepetersn opened #354 "re-structure the flask app"
Just needs a little more structure from the outset.

[2014-05-05 00:44] nwinklareth opened #355 "Change CountyInmate.booking_date field to be date field"
This was created as a date and time field, yet bookings are only by date. Additionally this field allows for nulls and in fact some of the fields contain nulls. Also to do a SQL based analysis based on booking date is very difficult with the datetime type.Hence the request to make the type change to the field.

[2014-05-05 17:20] nwinklareth opened #359 "v1 API no longer responded to requests"
On 2014/05/04 it was discovered that trying to access the v1 API with the following URLs did not work:
- http://cookcountyjail.recoveredfactory.net
- http://cookcountyjail.recoveredfactory.net/api/1.0/countyinmate/?format=json

[2014-05-05 17:23] bepetersn commented on #359
Still not working? It does for me, anyway.
On May 5, 2014 12:20 PM, "nwinklareth" notifications@github.com wrote:

[2014-05-07 13:34] wilbertom commented on #359
We should look at the server logs to see how long it was out.

[2014-05-07 13:35] wilbertom commented on #355
Yup, let's make sure we don't make the same mistake in v2.0.

[2014-05-07 13:51] wilbertom opened #360 "Replace manage.py code with script"
`manage.py` was a way to provide an helpful interface like django. I think `flask-script` or `click` will help us do this better than `ArgumentParser`

[2014-05-07 13:51] wilbertom commented on #338
We are using `flask-restful`.

[2014-05-07 13:51] #338 closed, assigned to nobody

[2014-05-07 14:11] wilbertom commented on #360
[Click](http://click.pocoo.org/) is nice because it's platform independent. `Flask-Script` is needed for `Flask-Migrate`. Ugh decisions.

[2014-05-07 15:21] wilbertom commented on #349
Closed by 43eb1b8e299f67124c38c6464a56383ffd727b7a

[2014-05-07 15:21] #349 closed, assigned to nobody

[2014-05-07 15:22] wilbertom commented on #350
Closed by 43eb1b8e299f67124c38c6464a56383ffd727b7a

[2014-05-07 15:23] #350 closed, assigned to nobody

[2014-05-07 15:24] wilbertom commented on #351
Closed by 43eb1b8e299f67124c38c6464a56383ffd727b7a

[2014-05-07 15:24] #351 closed, assigned to bepetersn

[2014-05-07 15:25] wilbertom commented on #360
Using `flask-script`. Closed by 8d8a162b6be9716938a3b6320f3368fd50c22ec4

[2014-05-07 15:25] #360 closed, assigned to nobody

[2014-05-07 15:27] wilbertom commented on #355
I see you did a data migration. Can we close this?

[2014-05-07 15:29] wilbertom commented on #348
Almost closed by 43eb1b8e299f67124c38c6464a56383ffd727b7a. Still need to add the relationship to a court building.

[2014-05-07 15:36] wilbertom commented on #331
Wait what do you mean lol? The files should had never left the git repo.

[2014-05-07 15:36] #345 closed, assigned to nobody

[2014-05-07 15:41] wilbertom commented on #298
Yeah would be cool but it would just make the tests always fail since 3rd party modules throw warnings.

[2014-05-07 15:49] wilbertom opened #361 "API format"
We need a uniform API format to give meta data for every request.

Right now I'm just going to default to v1's format:

[code]

With an array of objects. We can add stuff like error codes for example when receiving invalid params, but the http responses can handle this.

[2014-05-07 16:48] wilbertom opened #362 "Scraping locally v2.0"
I had some issues scraping locally.

[code]

Then `python -m scripts.scraper` threw a `500` on the server. So I had to:

[code]

@nwinklareth does this have to do with the fixing of #355? If so then I can apply the patch above. If not then I must have something wrong in my environment.

[2014-05-07 17:21] nwinklareth commented on #362
Yes that is related to #355, your fix is correct.

On Wed, May 7, 2014 at 11:48 AM, Wilberto Morales
notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-07 17:24] nwinklareth commented on #359
The logs won't tell us. I created this issue to track that we had this
problem, which Brian had fixed and he thought that the problem still
existed which it did not.

On Wed, May 7, 2014 at 8:34 AM, Wilberto Morales
notifications@github.comwrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-08 03:40] bepetersn commented on #359
Ah, sorry for forgetting.

---

The issue came up during my changing the locations of some important django files, in particular `wsgi.py`. The problem arose after these changes were pushed to the server, using our fabric `production master deploy` command. At the end of this command, the production gunicorn server is restarted.

In essence, the `gunicorn.sh` file failed to locate `wsgi.py`, which

[2014-05-08 03:40] #359 closed, assigned to bepetersn

[2014-05-08 03:45] bepetersn commented on #362
Did you apply this patch, Wil?

[2014-05-08 04:24] bepetersn commented on #331
The "API" page isn't there. Can't remember just now if there are others.

On Wed, May 7, 2014 at 10:36 AM, Wilberto Morales
notifications@github.comwrote:

##

Brian Peterson

[2014-05-08 04:34] bepetersn commented on #26
I tried to scope out how easy it would be to create a scraper for the Illinois Department of Corrections (IDOC) website, and their inmate locator. Seems doable. They present a single page application for their search functionality on a .aspx page (http://www2.illinois.gov/idoc/Offender/Pages/InmateSearch.aspx), which had me concerned about whether or not we could scrape it. But I looked through th

[2014-05-08 05:18] bepetersn opened #363 "charge comments don't map consistently to citation"
The comments we see associated with charges don't map consistently to the charge citation:

![screenshot from 2014-05-08 00 07 24](https://cloud.githubusercontent.com/assets/1389463/2912047/1c87a6c6-d66f-11e3-8b5b-0c8e1bff5a70.png)

Some of the comments don't even seem RELATED to the charge citation. This is the citation for a drug charge, yet burglary, DUI, etc. Almost any charge seems to be able

[2014-05-08 05:22] bepetersn opened #364 "remove comment field on charge in v2 API?"
See #363: charge comments don't map consistently to citation.

Given that we would like to normalize our database as much as possible, should we get rid of these comments on the charge object? I had a thought that if this problem came up, we could add the charge comment to the chargeshistory object, alongside the reference to the charge, since it is independent of the charge.

What do you think, @

[2014-05-08 05:26] bepetersn commented on #364
With regard to storing things alongside the reference to the charge on the chargeshistory, we could also store the raw charge string there, if we desired. @eads had always said we should keep as much of the raw data as possible, even while parsing more efficiently. But we can't keep the raw charge any more than we keep the charge comment, if we are trying to standardize charges.

[2014-05-08 13:00] wilbertom commented on #331
Ok cool. I'll hunt them down and put them back on the v2.0. Do we really need it for v1?

[2014-05-08 13:02] wilbertom commented on #362
Ill do it right now.

[2014-05-08 13:03] wilbertom commented on #331
Here's [api.html](https://github.com/sc3/cookcountyjail/blob/master/templates/api.html)

[2014-05-08 14:40] #362 closed, assigned to nobody

[2014-05-08 14:41] #331 closed, assigned to nobody

[2014-05-08 15:28] wilbertom opened #365 "Sqlite DROP migrations"
So it looks like sqlite doesn't support the `DROP` statement. This means that using alembic migrations we won't be able to use sqlite. So we either find another migration module or switch databases during development. After we decide I can push my code to close #353 and #348.

[code]

[source 1](https://bugs.launchpad.net/neutron/+bug/1241952)
[source 2](https://bitbucket.org/zzzeek/alembic/issue/

[2014-05-08 15:32] wilbertom commented on #361
I think we are fine with this format:

[code]

[2014-05-08 15:32] #361 closed, assigned to nobody

[2014-05-08 15:48] bepetersn commented on #365
Looks like that's true. We are going to use pgsql on the server anyway, so
we should set it up.

So it looks like sqlite doesn't support the DROP statement. This means that
using alembic migrations we won't be able to use sqlite. So we either find
another migration module or switch databases during development. After we
decide I can push my code to close
#353https://github.com/sc3/cookcountyjail/i

[2014-05-10 06:55] bepetersn commented on #298
Ah, which ones are those? But actually, Travis can easily be configured to
run different tests for different versions of Python.

The point is to keep in contact with our py3 compatibility. I have seen
(and written, mind you) some very non-py3compatible code. Print statements,
object inheriting, lots of very simple things.
On May 7, 2014 10:41 AM, "Wilberto Morales" notifications@github.com
wrote:

[2014-05-10 19:59] wilbertom opened #366 "Clean up db columns"
Set lengths on Unicode columns, make sure all columns which can't be null, can't be null. Replace SQLite3 and apply the database migration.

[2014-05-10 21:27] nwinklareth opened #367 "Scraping failed as of May 3rd"
Code changes in issue #342 move location of cron.sh without updating crontab entry to point to the new location.

[2014-05-10 21:44] bepetersn opened #369 "deleted line in controller.py caused scraper to fail"

[2014-05-10 23:47] #369 closed, assigned to nobody

[2014-05-10 23:47] bepetersn commented on #369
Fixed with #370

[2014-05-10 23:51] bepetersn opened #371 "make a fabric command to update the location of cron.sh if this changes"
The way I would like to handle this is the way we handle serving our static files currently. What we do there is to keep a symlink to a directory containing our static files. So, similarly, I think it would make sense to make a symlink to cron.sh, and have the crontab reference that symlink. This way, we can change our file if we want.

[2014-05-11 18:15] nwinklareth opened #372 "Scraper fails as non-null field booking date is not properly handled"
As part of issue #355, in addition to changing the property of booking_date from datetime to date also changed it so it would not allow nulls, however this change causes this exception to be thrown:
- Exception is null value in column "booking_date" violates not-null constraint

The reason this happened was because I made an assumption about how null checking occurs and I did not do a test the cod

[2014-05-11 18:20] bepetersn commented on #372
Ugh. Did you do a migration? And if so, did South give you an option to
supply a one-off value... Or maybe you just need to change the model field
definition. I always get confused about what exactly needs to be done.
On May 11, 2014 1:15 PM, "nwinklareth" notifications@github.com wrote:

[2014-05-11 18:33] nwinklareth commented on #372
Yes to both questions.

On Sun, May 11, 2014 at 1:20 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-11 18:44] nwinklareth opened #373 "InmateDetails captured booking_date as datetime when it should be date"
This occurred during code change for #355.

[2014-05-11 18:54] nwinklareth commented on #367
Superceded by #372.

[2014-05-11 18:54] #367 closed, assigned to nobody

[2014-05-11 20:33] bepetersn commented on #367
Did the scraper fail entirely yesterday, then? Should we restart it again?
On May 11, 2014 1:54 PM, "nwinklareth" notifications@github.com wrote:

[2014-05-11 23:32] nwinklareth commented on #367
Yes it failed yesterday. I got busy last night and did not check until this
morning when I found that it had also failed.

I made a fix by relaxing the model and then hand installed it and then add
a cron entry to run it.

It ran successfully and I will keep monitoring it over the next week.

On Sun, May 11, 2014 at 3:33 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

#

[2014-05-12 20:12] #373 closed, assigned to nwinklareth

[2014-05-12 20:36] nwinklareth opened #375 "v2 scraper intermittenly fails"
With this error:

Cook County Jail 2.0 API scraper started at Mon May 12 12:09:37 CDT 2014
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/ubuntu/website/2.0/websites/aad178f5d1/scripts/scraper.py",

[2014-05-12 20:43] bepetersn commented on #375
That's an assertion statement that is hard coded into the code in v2 that
fetches from v1, which fails when it doesn't get a 200 response code.

In the long term, this code makes no sense. We have an http class that
handles requests very well, in the main scraper. In the short term, no idea
what to do.
On May 12, 2014 3:36 PM, "nwinklareth" notifications@github.com wrote:

[2014-05-12 20:47] nwinklareth commented on #375
Well how about starting by change the assertion to an if test and spitting
out what code it got, and what response if any, so we have a bit more
information. I think with that we can start fixing it.

[2014-05-12 21:46] bepetersn commented on #375
I will take this one, if you'd like.

[2014-05-12 21:55] nwinklareth commented on #375
Please do and [lease post what you find out.

On Mon, May 12, 2014 at 4:46 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-12 22:36] wilbertom commented on #366
Paging @nwinklareth @bepetersn, what is a `ChargesDescription`'s `description` column? Is it what we called a `charges`

[2014-05-12 23:28] bepetersn opened #377 "v2's ccj_api_v1 tests are failing, because of the change from datetime to date"

[2014-05-12 23:52] bepetersn commented on #375
Well, I just tried to deploy, and the v2.0 branch fabfile has the requirements.txt file in the wrong place.

[2014-05-12 23:53] bepetersn commented on #375
I do think the code I just merged in, #376, will fix this problem with the scraper, though.

[2014-05-12 23:54] bepetersn opened #378 "v2 fabfile is behind the curve on the location of reqs.txt"

[2014-05-13 00:42] nwinklareth commented on #366
"Driving with a suspended license"

That is an example of a description.

As to the length, run this query on the database:

select charges from countyapi_chargeshistory
where length(charges ) =
( select max(length(charges )) from countyapi_chargeshistory)

then sun up to the next power of 2 and use that as the length of field, I
would use varchar or the unicode equivalent, fixed length field will

[2014-05-13 01:37] #378 closed, assigned to nobody

[2014-05-13 06:00] #377 closed, assigned to nobody

[2014-05-13 06:01] bepetersn commented on #372
Has the status of this changed after #372, or do we not know yet?

[2014-05-13 06:06] bepetersn commented on #113
Talked to @tjakester about creating a map between charges citations and primary types ... it seems the only way to go about it may be doing some heavy digging through the [directives of the CPD](http://directives.chicagopolice.org/directives/). Based on this resource which Tracy pointed me to, I found these:

http://directives.chicagopolice.org/directives/data/a7a57b38-13c72636-be313-c726-bae43e71

[2014-05-13 06:19] bepetersn opened #381 "test_pgsql_installation fails on the server, while apparently trying to load our new models"
Here is a gist showing the results of running the test locally (by setting CCJ_PRODUCTION env variable). It looks like what happens is Postgres tries to load all of our models (because of `db.create_all()`, with the `db` object imported from `ccj.app`.

A couple of points:
- I don't think this should be happening, we might have to figure out how to use a test database with Flask and Postgres
- But

[2014-05-13 16:01] wilbertom commented on #381
Brian the enum column was missing a `name` needed for postgres. I noticed this when switching databases. I fixed it but haven't pushed because I need to finish other stuff first.

[2014-05-13 20:03] bepetersn commented on #375
Well, it didn't crash, just created this log.

Cook County Jail 2.0 API scraper started at Tue May 13 12:15:19 CDT 2014
failed to fetch http://cookcountyjail.recoveredfactory.net/api/1.0/countyinmate?format=json&limit=0&booking_date__exact=2014-05-01, got status code 502
failed to fetch http://cookcountyjail.recoveredfactory.net/api/1.0/countyinmate?format=json&limit=0&discharge_date_earliest__gte

[2014-05-13 20:20] bepetersn commented on #381
You should push to your github repo so people can see your work.

[2014-05-13 20:30] bepetersn opened #383 "old generate_summaries appears to give an error, not clear if it is suceeding"
This is definitely related to #356:

Then priming the cache starts:

[2014-05-14 00:05] #62 closed, assigned to nobody

[2014-05-14 00:08] wilbertom commented on #99
Fixed, never closed

[2014-05-14 00:08] #99 closed, assigned to nobody

[2014-05-14 00:10] wilbertom commented on #272
Aren't we doing this now? Can we close this issue?

[2014-05-14 00:10] wilbertom commented on #272
Although we still don't do the real-time :(

[2014-05-14 00:20] nwinklareth commented on #272
Nope not yet.

Norbert
On May 13, 2014 7:10 PM, "Wilberto Morales" notifications@github.com
wrote:

[2014-05-14 00:38] wilbertom opened #386 "Database password on config"
Why is our database password in the config file? We should use an environment variable.

[2014-05-14 17:44] nwinklareth commented on #386
I agree.

[2014-05-14 17:47] nwinklareth commented on #375
Both scrapers ran this morning and there was no fetch errors reported by the v2 scraper. On 2014-05-16 or 17, the number of days the process looks back in time needs to be reduced back down to 5 and then this issue can be closed.

[2014-05-15 17:43] bepetersn commented on #113
Here is a list of what I am calling "malformed charges citations", pulled from our production database: https://docs.google.com/spreadsheets/d/1bHVl9n-AD5ECr3HVrFRhwnzQWj8XKVr0Rb2_VpbQGD4/edit#gid=0

They are actually just the result of running all the citations through a regex that represents the most common form the charges come in. Using this regex, I was able to match 94.2% of the total citati

[2014-05-15 17:46] bepetersn commented on #113
Having worked with these charges and tried to parse them for a bit, I have thought of how we might eventually break these citations down into several fields. Here is an example of a "common format" citation:

becomes...
- Chapter: 720
- Act: 570
- Section: 402
- Subsections: (c)

But I don't think we need to do this right now.

[2014-05-17 19:46] bepetersn commented on #352
It never occurred to me to ask what format would be most helpful.

I have done this in the way I first thought to do it. That is, I created a json file containing a list of unique citations, minimally normalized in a few of the most obvious ways to reduce duplicates. The idea would be that Wil could feed this json to his process route.

Is this sufficient? I have thought of a lot of different ways

[2014-05-19 03:13] bepetersn commented on #365
We've switched to pgsql now, correct?

[2014-05-19 03:15] bepetersn commented on #352
This has been done. But more importantly, we need to port the parsing that v1 does to our new ORM

[2014-05-19 03:27] #353 closed, assigned to nobody

[2014-05-19 03:28] #348 closed, assigned to nobody

[2014-05-19 03:28] wilbertom commented on #365
Yup,

[2014-05-19 03:28] #365 closed, assigned to nobody

[2014-05-19 03:29] #339 closed, assigned to nobody

[2014-05-19 21:51] wilbertom opened #390 "Specify a data format for process clients"
We have settled on using JSON objects. Now we have to choose the format in which the data is coming in.  Here are some [proposals](https://github.com/sc3/cookcountyjail/wiki/2.0-Process-Data-Format). Edit this page to contain a single complete format.

[2014-05-20 02:55] bepetersn commented on #352
I have been working with charges a lot, and I did mostly get this to the point where I was generating a data migration in a script to initialize our new database.

However, @wilbertom had convinced me to try to POST this directly to the v2 API to start conforming to our new standard. I thus stepped back from trying to generate this database migration, and tried to POST directly. It was that attemp

[2014-05-20 03:22] bepetersn commented on #390
I am definitely in favor of the second one, sticking closely to the format the sheriff's website gives us. Norbert also recommended using the Inmate Details class as our uniform data format, which is close to the same thing. For instance, there's a "charges" instead of our new "citation" and "charge description" fields.

Your justification for the second format is a decent one, and is one way to l

[2014-05-20 03:28] bepetersn commented on #381
I'm just going to delete this stupid test.

[2014-05-20 03:28] #381 closed, assigned to nobody

[2014-05-20 03:28] bepetersn commented on #366
@wilbertom, does this still need work?

[2014-05-20 05:28] bepetersn commented on #352
Fuck it.

[2014-05-20 05:28] #352 closed, assigned to nobody

[2014-05-20 05:30] bepetersn opened #391 "specify v2 API as the read-client database for the scraper"
As long as we're using this "client" model, one of these clients is going to have to have an interface that our scraper knows about and can use to access a current snapshot of the database.

This should be the v2 API.

[2014-05-20 05:31] bepetersn commented on #383
It's definitely not, the v1 summary APIs are empty. I think we're not going to fix this.

[2014-05-20 05:36] bepetersn commented on #317
This isn't needed anymore.

[2014-05-20 05:36] #317 closed, assigned to bepetersn

[2014-05-20 05:38] bepetersn commented on #303
I don't think this was/is necessary, because the functions that the Inmate class is responsible for are pretty simple wrappers around calls to the Django ORM.

[2014-05-20 05:38] #303 closed, assigned to nobody

[2014-05-20 06:09] bepetersn opened #392 "make bail_status filterable in v1"
another of the few important things left to do in v1

[2014-05-20 06:10] bepetersn commented on #296
Closing...

[2014-05-20 06:10] #296 closed, assigned to nwinklareth

[2014-05-20 06:12] bepetersn commented on #246
@wilbertom, how can we make this happen?

[2014-05-20 06:17] bepetersn commented on #138
I've made a wiki containing the contents of this issue, the info model, requirements, etc.

[2014-05-20 06:17] #138 closed, assigned to nobody

[2014-05-20 06:18] bepetersn commented on #273
I wonder if we can get this from our Amazon account?

[2014-05-20 06:20] bepetersn commented on #266
Well, it's too late to do this, I think! Maybe I can convince Wil for v2.

[2014-05-20 06:20] #266 closed, assigned to nobody

[2014-05-20 06:24] bepetersn commented on #112
That's interesting, that they were the same. That must mean there were no "booked" and "left" fields. Doing that sure would make the v2 summary API simpler... though bookings would only tell you the average population change.

[2014-05-20 06:26] #111 closed, assigned to nobody

[2014-05-20 06:27] bepetersn commented on #103
We should document our environment variables, and where they are set, don't you think, @wilbertom?

[2014-05-20 11:12] wilbertom commented on #366
Yup still needs a lot with columns sizes, and stuff.

[2014-05-20 11:23] wilbertom opened #393 "New API routes Documentation"
In the repository we have a couple of documentation issues. Some having to do with the API routes. I'm going to close those and replace them with this issue, since the models have new names.

Document:
1. Base Routes
2. Temporal Routes
3. Summary Routes

Maybe these would be their own issues each. I will take care of the base models today since they are functional.

[2014-05-20 11:24] wilbertom commented on #45
Closed in favour of #393. This model doesn't exist anymore

[2014-05-20 11:24] #45 closed, assigned to nobody

[2014-05-20 13:33] wilbertom commented on #393
I started adding some text to the [wiki](https://github.com/sc3/cookcountyjail/wiki/API-2.0-Guide).

It's almost finished.

[2014-05-20 18:29] bepetersn commented on #302
PEP 366 explains why using the `-m` approach works, but I figured out that it's actually just a python path issue. pytest doesn't include the current working directory, but you can have your virtualenv set this up for you with the command:

`add2virtualenv .`

This assumes you are in the project directory, in your virtualenv, and and have the virtualenvwrapper tools installed, of which this comman

[2014-05-20 18:29] #302 closed, assigned to nobody

[2014-05-20 18:37] bepetersn commented on #363
For the moment, this dilemma is handled by keeping a separate Charges Description table.

[2014-05-20 18:37] #363 closed, assigned to nobody

[2014-05-20 18:46] bepetersn commented on #347
We are not going to implement a raw API (for now). Instead, we're just going to push from the scraper to the v2 API, maybe whitelisting it to allow that.

[2014-05-20 19:03] #347 closed, assigned to nobody

[2014-05-20 19:52] bepetersn commented on #364
This is no longer necessary, we've creating a new charges description.

[2014-05-20 19:52] #364 closed, assigned to nobody

[2014-05-20 20:04] bepetersn opened #394 "modify scraper to POST to v2 API"
The exact way this will be done is still a little bit in flux. Since the scraper is concurrent, @wilbertom has suggested POSTing one inmate at a time, and I think I agree.

[2014-05-20 20:04] bepetersn commented on #347
This has been closed in favor of #394

[2014-05-20 20:05] bepetersn opened #395 "Decouple scraper from v1 API"
This is a multi-part task. The first part is to pull the `ng_scraper` command out of django's management (done with #343) and to modify the scraper to archive the results of a scrape (see #432).

The scraper will no longer need to deal with "discharging" inmates. To the extent this still needs to be done, it will be handled by client APIs (see #419). Some amount of work still needs to be done in e

[2014-05-20 20:12] bepetersn commented on #346
I am going to recommend that we do this in a single transition run of the scraper. The v2 API has to have all of its processing set up in order for this to work (see #406). We will then use the v1 API to read from, but POST to v2, which because it knows how do its own processing, will populate the database.

[2014-05-20 20:56] #375 closed, assigned to bepetersn

[2014-05-20 20:57] bepetersn commented on #375
Reverted back to 5 day inmate_window.

[2014-05-20 21:01] bepetersn commented on #372
I pushed changes to the server for today that revert back to only searching 5 days in the past to look for missed inmates. Trusting Norbert's math, the scraper should be totally fine by now.

[2014-05-20 21:01] #372 closed, assigned to nwinklareth

[2014-05-20 21:02] bepetersn commented on #355
I believe we can now close this.

[2014-05-20 21:02] #355 closed, assigned to nwinklareth

[2014-05-20 21:04] bepetersn opened #397 "Add v2 dailypopulation API documentation"

[2014-05-20 21:05] bepetersn commented on #112
This is no longer relevant, issue #397 should supercede it.

[2014-05-20 21:05] #112 closed, assigned to nobody

[2014-05-20 21:07] #63 closed, assigned to nobody

[2014-05-21 01:00] bepetersn opened #398 "process charges into correct fields for v2"
Basically look at `countyapi/charges.py` and `tests/django_api/test_charges.py`, and create the exact same behavior with the SQLAlchemy ORM instead of Django. Port the test too if you would.

Note that the input to this class should now be just the raw charges field, a string, as specified by #390.

[2014-05-21 01:04] bepetersn opened #399 "process court_house_location into correct fields for v2"
Start by looking at `countyapi/court_location_info.py` and `tests/django_api/court_location_info.py`, and create the same functionality which is currently using the Django ORM with SQLAlchemy.

Note that the input to this class should now be just the raw court_house_location field, a string, as specified by #390.

Other than this, the main difference from the old django code is that you should par

[2014-05-21 01:10] bepetersn opened #400 "process housing_location into correct fields for v2"
Start by looking at `countyapi/housing_location_info.py`. Look also at the tests for the classes which play similar roles for charges and court locations.

After doing this, start porting the functionality which uses the Django ORM to using SQLAlchemy instead. If you made a test for this before/while you were writing this code, the project would be greatly benefited.

Note that the input to this c

[2014-05-21 02:14] bepetersn opened #401 "Make temporal models and APIs for v2"
CourtHistory (#404), HousingHistory (#402), and ChargesHistory (#403), and then JailStay (#410) after all that is done.

[2014-05-21 02:15] bepetersn opened #402 "Make HousingHistory model and API for v2"

[2014-05-21 02:15] bepetersn opened #403 "Make ChargesHistory model and API for v2"

[2014-05-21 02:16] bepetersn opened #404 "Make CourtHistory model and API for v2"

[2014-05-21 02:18] bepetersn opened #405 "Do we want a JailStay API? Or is Person good enough, and just pull in related fields?"
paging @wilbertom

[2014-05-21 02:20] bepetersn opened #406 "do actual processing for v2 "/process" route"
See #398 for charges, #399 for court locations, and #400 for housing locations.

Beyond these models and what we store on the Person model, however, processing can't actually be fully completed until we have to have all of our temporal models done (see #401) .

[2014-05-21 02:23] bepetersn commented on #267
This is done! Good job, @wilbertom

[2014-05-21 02:23] #267 closed, assigned to nobody

[2014-05-21 02:34] wilbertom commented on #405
I think jailStay is the main model

On Tue, May 20, 2014 at 9:18 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-05-21 03:48] bepetersn opened #409 "refactor daily population to use a fields param"
courtesy of the mind of @eads:

Instead of having 50 or 100 or more fields on the daily population summary as we do presently, we ought to simply have a fields param. For instance the present field "males_booked_bk" becomes a call to this URI:

This would make having an additional parameter, "in_jail" (see #280) much easier. It would further imply, or could imply, several things. For instance, it

[2014-05-21 06:03] bepetersn commented on #405
We talked about it, and the easiest thing to do is to give JailStay its own API, but also default to pulling in JailStay objects for the Person model.

[2014-05-21 06:03] #405 closed, assigned to nobody

[2014-05-21 06:06] bepetersn opened #410 "Make JailStay Model and API"
Do this after #402, #403, and #404.

[2014-05-21 06:10] bepetersn opened #411 "Specify django settings as environment variable"
This will allow running the scraper outside of the context of a django management command.

[2014-05-21 06:13] bepetersn opened #412 "methodically change all references to the scraper command line call"
Instead of pointing to `python manage.py ng_scraper`, they will now point to `python scripts/ng_scraper.py`.

[2014-05-21 06:14] bepetersn opened #413 "port database audit command to new ORM"
When the new command is made, it should be put in scripts. After switching the scraper over from using the v1 API as our read-database (see #391), we can use this new command.

[2014-05-21 06:15] bepetersn opened #414 "port the code that populates the "/clone" API"
I regard the `/clone` API as very important. Between #336 and especially #395, though, the present database clone functionality is now set to be obsolete. We need to seek out a way to dump and load a postgres database... it's not too difficult, I don't think.

This could be made into a script. After switching the scraper over from using the v1 API as our read-database (see #391), we can call this

[2014-05-21 06:26] #392 closed, assigned to nobody

[2014-05-21 08:13] bepetersn opened #417 "create a dry_run_scraper command in fabfile.py"
Such a command would have saved me a lot of work tonight.

[2014-05-21 08:20] bepetersn commented on #302
See [this](http://stackoverflow.com/questions/20971619/ensuring-py-test-includes-the-application-directory-in-sys-path) stackoverflow question, which gives several options of how to fix this. Basically, it's a path issue. Your application/project needs to be on the path for pytest to know what to do, and it's intentional.

On my system, I ran `add2virtualenv .` in my project directory, while in my

[2014-05-21 08:22] bepetersn commented on #343
#418 fixes this issue.

[2014-05-21 08:22] #343 closed, assigned to nobody

[2014-05-21 08:22] bepetersn commented on #411
#418 closes this issue.

[2014-05-21 08:22] #411 closed, assigned to nobody

[2014-05-21 08:22] bepetersn commented on #412
#418 closes this issue.

[2014-05-21 08:22] #412 closed, assigned to nobody

[2014-05-21 08:23] bepetersn commented on #395
#343 is done.

[2014-05-21 08:29] bepetersn opened #419 "handle discharging of inmates for v2"
Since we are decoupling scraper and API, the API will need to handle its own discharging, but it CAN provide a route to initiate discharging, perhaps an HTTP UPDATE method?

The scraper can then call this discharge route with each successive inmate. This seems to make the most sense, it basically parallels what we do currently, except that it requires the v2 API to do all of its own work.

Thought

[2014-05-21 08:31] bepetersn commented on #395
It would be best to get #406 and also #419 done on the v2 branch before any of these other issues are deployed to the server. However, work can now continue on the master branch on these remaining modifications to the scraper.

As soon as it does, we will be in the midst of merging v1 and v2!!!! @wilbertom

[2014-05-21 08:39] bepetersn commented on #413
It's already broken, so mostly use the old command as a guideline, and hopefully solve #308 as well.

[2014-05-21 08:51] bepetersn opened #420 "tag the v1 codebase as we would like it to be remembered"
That is, before we start merging the two branches, which will start happening with issue #394!

[2014-05-21 08:53] bepetersn commented on #420
Did this in my local...

[2014-05-21 08:53] #420 closed, assigned to nobody

[2014-05-21 11:22] bepetersn opened #421 "should we implement a concurrent model for v2 API?"
It seems to me the answer depends on what v2 does. The main benefit of the concurrent model is network-related stuff. On the one hand, v2 API is basically just a database with a mouth. On the other hand, I'm not sure.

[2014-05-21 11:28] bepetersn commented on #421
The way that I thought of this was in considering what these old logging functions (copied over from v1 API) still mean in the context of a separate entity API, basically #422. Sure, the API could send back responses, but does that mean it needs a queue to handle this interface? Otherwise, ... it would take a rather long time to respond, in all likelihood, right? From the scraper's perspective, th

[2014-05-21 11:33] bepetersn opened #422 "implement logging system for v2 API"

[2014-05-22 14:52] nwinklareth commented on #390
I perfer the 2nd one, the flat model. The less processing, the less shaping of the data we do up front, the more options we provide to people who use this data.

[2014-05-22 14:57] nwinklareth commented on #246
I have often thought that there should be a database table where the
scraper records information on what happened during its execution. The
interesting question is should it talk directly to the database or use a
web service?

On Tue, May 20, 2014 at 1:12 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-22 15:00] nwinklareth commented on #103
When I created this I was thinking about environment variables.

On Tue, May 20, 2014 at 1:27 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-05-22 15:16] nwinklareth commented on #409
I see this as a nice to have. It is easy to program in Javascript using
pluck to extract the field you are interested in and the data
transmission costs are low.

Doing an incremental summary calculation for a few days takes about 4
seconds. Once made,all subsequent calls are immediate.

This can be added at any time.

On Tue, May 20, 2014 at 10:48 PM, Brian Everett Peterson <
notifications@github

[2014-05-25 22:49] nwinklareth opened #426 "V2 Daily Population summary is not calculating discharged inmates"

[2014-05-27 17:31] #426 closed, assigned to nwinklareth

[2014-06-01 00:46] nwinklareth opened #429 "Scraped content is archived"
To provide a better set of raw data, the content scrpaed from the Cook County Sheriff's website should be stored in an archive format which is then retrieved by people and systems that want to use it.

The daily archived content will be made available from: [http://cookcountyjail.recoveredfactory.net/raw_inmate_data](http://cookcountyjail.recoveredfactory.net/raw_inmate_data).

The format will be

[2014-06-01 00:55] nwinklareth opened #430 "Add module to scraper to log scraped data to archive file"
This is a sub-task of #429.

This module will receive the same information that the current backend module that stores the scraped information into the database. It takes this information and stores it into an archived file in a directory that webserve can access.

Archived file will be made available after scraping has successfully run.

This sub-task will be done when the module is used by the s

[2014-06-01 01:01] nwinklareth opened #431 "Add raw_inmate_data path to webserver"
This is a sub-task of #429.

Create a directory on the webserver and make it available as [/raw_inmate_data](http://cookcountyjail.recoveredfactory.net/raw_inmate_data). Accessing this URL should display the contents of the directory and any sub-directories and serve any files that are visible.

The directory will not support modification or uploads.

This will be done when the above URL works and

[2014-06-02 00:08] nwinklareth opened #433 "Add scratch directory for capturing Raw Inmate Data"
A directory is needed where the raw inmate data can be stored until all of it has been captured and that is not visible to outsiders. **In other words it must not be the same as the directory specified in #431.**

The directory will be locate: /home/ubuntu/website/scratch/scraper/raw_inmate_data.

This location will be added to the scraper.sh file stored in the environment variable, **CCJ_RAW_INMA

[2014-06-02 00:12] #433 closed, assigned to nwinklareth

[2014-06-02 00:20] nwinklareth opened #435 "Activate the storing of the Raw Inmate Data"
To activate this feature the environment variable, **CCJ_STORE_RAW_INMATE_DATA** needs to be added to the V1.0 API scraper.sh before the call to run ng_scraper and it needs to set to the value **1** and it also needs to be exported, see [Scraper Configuration Options](https://github.com/sc3/cookcountyjail/wiki/Scraper-Configuration-Options) for more info.

This can only be done when the following

[2014-06-02 00:48] #430 closed, assigned to nwinklareth

[2014-06-02 01:40] nwinklareth commented on #421
For the specific case of Posts to update the db as the scraper operates, with the new scraper model of archiving the data the post API calls go away as does, so no need for concurrency to handle this case and no nasty edge case to worry about. Hurray.

In the general case, we basically fetch data do a bit of processing on it and return it to the caller so no specialized concurrent processing a la

[2014-06-02 02:00] nwinklareth commented on #421
The case of the process that updates the 2.0 database may benefit from concurrent programming. In the CPython world concurrent processing works best when you can do computational processing in task while the machine is doing I/O. In this processing I/O occurs when input is read from the archive file, be it disk or network and when database reading and writing occurs. Whenever I/O is being performe

[2014-06-05 14:58] nwinklareth opened #437 "Capturing of Raw Inmate Data failed"
This affected Issue #429.

The reason that capturing the raw inmate data failed is that the existence checks for the release and build directories failed and the reason they failed is that the locations specified in the scraper.sh do not exist. In addition to this there is a problem that the two directories were specified as being the same.

The first problem resulted from the path specified in Ng

[2014-06-05 16:16] #431 closed, assigned to nobody

[2014-06-05 17:15] bepetersn commented on #437
I believe I have patched this correctly with #438, which has been deployed
to the server, but we'll now need to wait another day.
On Jun 5, 2014 9:58 AM, "nwinklareth" notifications@github.com wrote:

[2014-06-06 11:56] wilbertom commented on #410
Hey @bepetersn, I think all the temporal models are done. Check out the `models.py` file. Or are you talking about something else?

[2014-06-06 12:41] wilbertom commented on #406
Temporal models are done but we aren't taking this route. I'm closing.

[2014-06-06 12:41] #406 closed, assigned to nobody

[2014-06-06 12:43] wilbertom commented on #401
Yup, we got these [models](https://github.com/sc3/cookcountyjail/blob/v2.0-dev/ccj/models/models.py)

[2014-06-06 12:43] #401 closed, assigned to nobody

[2014-06-06 12:43] #404 closed, assigned to nobody

[2014-06-06 12:43] #402 closed, assigned to nobody

[2014-06-06 12:44] #403 closed, assigned to nobody

[2014-06-06 12:44] #410 closed, assigned to nobody

[2014-06-06 12:46] wilbertom commented on #394
I'm closing all of these having to do with processing and going to document the new architecture.

[2014-06-06 12:46] #394 closed, assigned to nobody

[2014-06-06 12:49] wilbertom commented on #390
I'm deleting this documentation and replacing it with [Norbert's document](https://docs.google.com/document/d/1mgC8HLHHP4qvHR-jN6GQX04abiZkJp2mNffEicCIjuw/) along with documentation for the new architecture.

[2014-06-06 12:49] #390 closed, assigned to nobody

[2014-06-06 12:50] wilbertom commented on #344
Let's close this and make it into a milestone.

[2014-06-06 12:50] #344 closed, assigned to wilbertom

[2014-06-06 12:54] #400 closed, assigned to nobody

[2014-06-06 12:54] #399 closed, assigned to nobody

[2014-06-06 12:54] #398 closed, assigned to nobody

[2014-06-06 12:57] wilbertom opened #439 "Update Contribution page"
https://github.com/sc3/cookcountyjail/wiki/Contributing

[2014-06-06 15:04] nwinklareth opened #440 "Scraper failed with ASCII encoding error message"
Relevant part of logfile:
DEBUG: 2014-06-06 08:30:09.353721 - Inmate: Updated inmate 2014-0604301
Traceback (most recent call last):
  File "/home/ubuntu/.virtualenvs/cookcountyjail/local/lib/python2.7/site-packages/gevent/greenlet.py", line 327, in run
    result = self._run(_self.args, *_self.kwargs)
  File "/home/ubuntu/apps/cookcountyjail/scraper/concurrent_base.py", line 50, in _process_comma

[2014-06-06 15:06] nwinklareth commented on #440
The simplest fix is to have InmateDetails replace u'\xa0' with a space. Which is what will be done, howver a better long term solution should be found.

[2014-06-06 15:07] bepetersn commented on #440
That's part of the court location. It needs to be normalized to a space
character.
On Jun 6, 2014 10:04 AM, "nwinklareth" notifications@github.com wrote:

[2014-06-06 15:15] bepetersn commented on #440
We could use unicodecsv (https://github.com/jdunck/python-unicodecsv), a
drop-in replacement for the CSV module with Unicode support.
On Jun 6, 2014 10:07 AM, "Brian Peterson" bepetersn@gmail.com wrote:

[2014-06-06 15:53] nwinklareth commented on #440
Perhaps using that csv package is the long term fix. However that
character, u'\xa0' has plagued us in a number of places so I am going to
convert for now to a ordinary space in InmateDetails

On Fri, Jun 6, 2014 at 10:15 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Norbert

Norbert Winklareth

[2014-06-06 17:07] nwinklareth opened #442 "Terminate the scraper if a there is a code fault in one of the modules"
This morning during a run, when the CSV writer was executing a program exception was thrown. This was not caught by scraper code, it was caught by the greenlet code, which terminated the task. The terminated task was the backend task, which meant that all of the database requests were queued up, which balloned the memory usage of the process. This behaviour is wrong.

Modules in the scraper should

[2014-06-06 17:57] #435 closed, assigned to nobody

[2014-06-06 18:26] bepetersn commented on #391
This actually does not need to be done anymore. My understanding is the scraper will just post the raw inmate data, and the v2 API can figure out the rest. No need for the scraper to know anything about any database.

[2014-06-06 21:08] nwinklareth commented on #391
I am agree. The scraper will not be dependent on any database. This is a
great example of seperation of concerns. Capturing the basic inmate
information and making it available versus processing the data for analysis
and supporting quering on the processed data are separate and distinct
activities.

Norbert
On Jun 6, 2014 1:26 PM, "Brian Everett Peterson" notifications@github.com
wrote:

[2014-06-07 23:30] bepetersn commented on #440
Closing for now.

[2014-06-07 23:30] #440 closed, assigned to nobody

[2014-06-07 23:30] #437 closed, assigned to bepetersn

[2014-06-07 23:31] #429 closed, assigned to nobody

[2014-06-07 23:31] #421 closed, assigned to nobody

[2014-06-08 02:12] nwinklareth opened #443 "Need Ability to fetch Raw Inmate Data from Python for a specified date"
This is part of #395.

This is ability needs to work on any machine, not just the cookcountyjail.recoveredfactory.net server, and the retrieved data must be delivered in a parsiimonious manner.

Also need to be able to know what dates are available.

Acceptance criteria:
1. Get list of available dates
2. Ability to arbitrarily fetch any of the available snapshots in a way that does not require tha

[2014-06-08 02:28] nwinklareth opened #444 "Scraper uses Raw Inmate Data to determine which Booking Ids to check for"
This is part of #395.

The first version of the Next NG version of the Scraper queries the V1 database to find out which booking_ids to scrape from the Sheriff's website. This dependency needs to be brokern. Currently the scraper needs to know the following set of bookings ids:
- the set of active booking ids from the last scrape - this is the last known population
- the set of potential booking i

[2014-06-08 02:30] nwinklareth opened #445 "Implement a V2 Database loader that use the Raw Inmate Data"
This is related to #395.

The first two versions of the Cook County Jail Scraper directly stored information into the V1.0 API database. The third version of this Scraper will no llonger do that. Which means that to load a database will require writing a loader which fetches the raw Inmate data from http://cookcountyjail.recoveredfactory.net/raw_inmate_data, which is stored by day in a [CSV format

[2014-06-09 14:02] wilbertom commented on #395
Check out the [new repository](https://github.com/sc3/ccj-scraper). Almost working. We should migrate scraper issues over to that repository.

[2014-06-10 20:20] #417 closed, assigned to nobody

[2014-06-14 19:24] nwinklareth commented on #419
How this works should follow how adding or updating an Inmate entry is done and there is no design for the data loader. The design and implementation of the loader is covered by #445.

[2014-06-14 19:24] #419 closed, assigned to nobody

[2014-06-15 01:12] nwinklareth opened #447 "Booking Data Issues in the V1 API database"
In trying to determine the starting date for inmate collection for the V2.0 API a number of anonomlies where found for booking dates in December 2012. For instance one of those of days has 1206 inmates booked that day. This is way too many.

[2014-06-15 02:19] nwinklareth opened #448 "Back fill the Raw Inmate Data to August 17th, 2013"
This is part of doing #395.

To make the raw Inmate data useful and to support need to populate the V2.0 API database, the data must be backed filled, to Auguts 17th, 2013.

The rational for the starting date and one design, not the design that has to be used, on how to do this is located on the [Populating-the-Raw-Inmate-Data-from-the-V1.0-API-Database](https://github.com/sc3/cookcountyjail/wiki/

[2014-06-15 02:32] nwinklareth opened #449 "Populate the V2.0 Database"
This is realted to #395 and #448 and #445 need to be done as well all of the V2 API database models need to be built and the base models for Charges, Courtroom and Housing locations need to be populated. Once they are then the raw Inmate data needs to be backed filled and then the V2 database loader needs to be run, populating the V2.0 database.

Once this is all done, populating the V1.0 database

[2014-06-30 14:42] wilbertom commented on #448
I should finish this tonight or tomorrow night.

[2014-06-30 18:00] bepetersn commented on #448
This whole issue?! That would be great!

On Mon, Jun 30, 2014 at 9:42 AM, Wilberto Morales notifications@github.com
wrote:

##

Brian Peterson

[2014-06-30 22:44] bepetersn commented on #448
Something weird happened on the 27th of June, that resulted in no data dump being made for that date of the scraping run. (See future issue...) However, the scraper didn't totally fail, and the v1 database contains this data.

So I would request that this data be recreated in the same fashion as this issue requires--whatever program is made to fulfill this issue should be kept around, certainly un

[2014-06-30 22:55] bepetersn opened #452 "Scraper failed to make a raw data dump on some occasions"
This occurred on June 27th. Somehow, the completion (or creation) of the data dump did not happen, despite the fact that the scraper itself seemed to have completed its run. However, I judged this in a cursory albeit empirical manner based on there being no unusual errors that stood out in the log file for the day, and it may not be true. I will look into this some more.

In the near future, when

[2014-07-01 03:08] nwinklareth commented on #452
The June 11th scrape was also unsuccessful. The temp files still exist in
the website/scratch/scraper/raw_inmate_data directory. They look to be
smaller than then the normal ones. If you examine the log files for these
days, which by the way are June 12th and 28th respectively you will find
that there are index out of range errors exceptions thrown from
InmateDetails.

On Mon, Jun 30, 2014 at 6:55

[2014-07-01 15:08] wilbertom commented on #448
I made some progress on this but it's really really slow. Tonight I'll reread it to make sure it's right and work on making it faster.

https://github.com/wilbertom/cookcountyjail/tree/backfill

@bepetersn do we have a traceback of the error?

[2014-07-01 15:31] wilbertom commented on #448
Never mind I know how to make it faster. So much for sleeping lol

[2014-07-05 17:52] bepetersn opened #453 "Make the raw API serve zipped data"
As it is currently, we take up a lot of space (~4 MB) each day with unzipped copies of the results of a scrape. We were considering making it zipped data before @nwinklareth left, if I am recalling correctly. Or am I wrong?

[2014-07-05 18:04] nwinklareth commented on #453
Storing 10 years of snapshots will take up 65% or so of the remaining 31G
of free disk space, so it is not that pressing of a concern.

Upon reflection I think that the snapshots should be moved to Amazon S3
drive, this would minimize the storage and delivery cost for that data.

Norbert

On Sat, Jul 5, 2014 at 1:52 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

Regards

## Nor

[2014-07-05 18:23] bepetersn commented on #453
Hey, that's a good idea. Because money required for hosting IS a concern where space is not so much, as you point out. Should I make that a future issue?

[2014-07-11 20:30] wilbertom commented on #448
This is harder than I thought. It's taking too much time to dump. I'm starting a new branch.

https://github.com/wilbertom/cookcountyjail/blob/backfill-b/countyapi/management/commands/dump_to_csv.py

[2014-07-11 20:31] wilbertom commented on #448
I'll make a writeup on the google groups to get some feedback.

[2014-10-09 20:03] janearc opened #454 "403 in readme.md"
The link to "[26th and california](http://26thycalifornia.recoveredfactory.net/v1.0/)" in [readme.md](https://github.com/sc3/cookcountyjail/blob/master/README.md#cook-county-jail-data-project) is 403. Makes it hard to see what's going on with the data?

[2014-10-11 21:07] wilbertom commented on #454
Thanks @avriette, it's fixed.

[2014-10-11 21:08] randy7771026 commented on #454
Showed this to Wil and he fixed it using my computer.

On Thu, Oct 9, 2014 at 3:03 PM, Jane Avriette notifications@github.com
wrote:

[2014-10-11 21:09] #454 closed, assigned to nobody

[2014-11-28 23:53] nwinklareth opened #455 "On low memory machines cannot load dumped database"
The loaddata command loads the entire JSON file into memory before writing out its contents to the database. Low memory machines cannot process this even though if the json was streamed in they could.

There is a streaming json module for Python iJson which I will try.

[2014-11-30 22:42] nwinklareth opened #456 "Since 2014/11/09 scraper has been crashing trying to process inmate with missing booking date field"
A copy of the inmates page is loacted in tests/data and here is the stack trace

DEBUG: 2014-11-09 08:30:23.725727 - Inmate: Unknown exception for inmate '2014-1107234'
Exception is 'NoneType' object has no attribute 'month'
Traceback (most recent call last):
  File "/home/ubuntu/.virtualenvs/cookcountyjail/local/lib/python2.7/site-packages/gevent/greenlet.py", line 327, in run
    result = self._

[2014-12-03 04:40] #456 closed, assigned to nwinklareth

[2014-12-17 23:09] fgregg commented on #391
Seems like this can be closed again?

[2015-03-10 13:24] adewes opened #461 "SECRET_KEY published"
It seems that you have published your `SECRET_KEY` in `countyapi/settings.py`!

We found this when we analyzed your repository on QuantifiedCode:

https://www.quantifiedcode.com/app#/project/gh:sc3:cookcountyjail?groups=code_patterns%3A1Wit6MHp%3Af0

(feedback and ideas are always welcome)